@charset "utf-8";
@import "public";
//header 颜色背景变量
$bgColor : #fff;
$wrapWidth : 1000px;
//index 主页样式
#header{
    // top  login reigister begain----->
    background-color: $bgColor;
    .wrap1000{
        width: $wrapWidth;
        margin: 0 auto;
    }
    .line {
        background: #dfdfdf none repeat scroll 0 0;
        height: 14px;
        overflow: hidden;
        padding: 0;
        width: 1px;
        display: inline-block;
        vertical-align: middle;
    }
    .b_down {
        background: url(../../images/img/icon_list.png) no-repeat scroll -157px -696px;
        height: 6px;
        width: 10px;
        margin-left: 5px;
        display: inline-block;
    }
    .header_top{
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        line-height: 36px;
        color: #8c8c8c;
        background-color: #fafafa;
        .left_h{
            float: left;
        }
        .right_h{
            float: right;
        }
        .log_reg{
            position: relative;
        }
        .reg_tips{
            color: #fff;
            position: absolute;
            top: 32px;
            left: 173px;
            width: 214px;
            height: 34px;
            z-index: 2;
            background: url(../../images/img/add_r_tips.png) no-repeat 0 0;
        }
        .reg_tips p {
            margin-top: 4px;
            height: 30px;
            line-height: 30px;
            padding-left: 15px;
            font-size: 12px;
            font-family: "宋体";
        }
        .close_r_tips {
            cursor: pointer;
            position: absolute;
            width: 10px;
            height: 15px;
            background: url(../../images/img/add_r_tips.png) -201.5px -41px;
            right: 5px;
            top: 16px;
            z-index: 3;
        }
    }
    //left 
    .log_reg a,.log_reg span{
        font-family: "宋体";
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
    .left_h .a_login{
        padding: 0 10px 0 20px;
    }
    .left_h .a_registetr{
        padding-left: 8px;
    }
    //right
    .right_h li{
        float: left;
        height: 36px;
        line-height: 36px;
        position: relative;
        z-index: 8;
    }
    li.a_enter{
        position: relative;
        width: 90px;
        z-index: 10;
        .b_down {
            vertical-align: top;
            margin-top: 2px;
        }
    }
    .enter_shop{
        display: block;
        position: absolute;
        top: 35px;
        left: 0px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    //二维码
    .download_code{
        position: absolute;
        top: 38px;
        left: -10px;
        z-index: 15;
        background-color: #fff;
        border-top: 1px solid #dfdfdf;
        .download_code_border{
            border: 1px solid #f6f6f6;
            box-shadow: 0 0 1px #f6f6f6;
            padding: 5px;
            margin-top: 5px;
            p {
                height: 1.2em;
                line-height: 1.2em;
                text-align: center;
                color: #3b3b3b;
            }
        }
        .icon_top {
            position: absolute;
            top: -2px;
            width: 12px;
            height: 8px;
            background: url(../../images/img/icon_list.png) no-repeat -234px -592px;
            left: 50%;
            margin-left: -6px;
        }
    }
    
    //客服
    .cus_center{
        position: absolute;
        top: 35px;
        left: -1px;
        z-index: 5;
        border: 1px solid #ccc;
        border-top: none;
        width: 100%;
        background-color: #fff;
        text-align: left;
    }
    .cus_center a {
        height: 25px;
        line-height: 25px;
    }
    .right_h a{
        padding: 0 10px;
    }
    .right_h a,.right_h a span ,.sp_tel{
        font-family: "宋体";
        line-height: 36px;
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
    li .tel_icon{
        background: url(../../images/img/icon_list.png) no-repeat 0 -38px;
        width: 14px;
        height: 13px;
        margin: 0 4px 0 10px;
        display: inline-block;
        vertical-align: middle;
    }
    // top  login reigister over----->
    // top search begain----->
    .header-search{
        width: 100%;
        background-color: #fff;
        .header_center {
            margin-top: 30px;
            margin-bottom: 19px;
        }
        .head_center_logo {
            width: 58px;
            float: left;
            margin-right: 7px;
        }
        .head_center_logo img{
            width: 58px;
        }
        .header_center_bz {
            float: left;
            width: 438px;
            margin-right: 10px;
            padding-top: 18px;
        }
        .header_center_bz img{
            width: 438px;
        }
        .header_center_search{
            width: 360px;
            float: left;
            .h_c_input{
                width: 355px;
                margin-top: 5px;
                height: 35px;
                border: 3px solid #94193f;
                z-index: 6;
                position: relative;
            }
        }
        .txt_searchbox{
            color: rgb(102, 102, 102);
            width: 305px;
            border: none;
            float: left;
            height: 19px;
            padding: 8px 0;
            font-size: 12px;
            text-indent: 8px;
        }
        .btn_search{
            cursor: pointer;
            background-color: #94193f;
            border: medium none;
            color: #fff;
            float: left;
            height: 35px;
            width: 50px;
            font-size: 16px;
            font-family: 'Microsoft YaHei';
            line-height: 33px;
        }
        .h_c_key{
            float: left;
            margin-top: 4px;
            width: 100%;
            height: 25px;
            overflow: hidden;
            line-height: 25px;
        }
        .h_c_key li{
            float: left;
        }
        .h_c_key a{
            padding: 0 5px 0 0;
            color: #8c8c8c;
            font-family: "宋体";
        }
        .h_c_right{
            margin-top: 5px;
            float: right;
            position: relative;
            z-index: 3;
            .h_c_car{
                width: 110px;
                display: block;
                border: 1px solid #d8d8d8;
                height: 39px;
                text-align: center;
                line-height: 39px;
                background-color: #f9f9f9;
                position: relative;
                z-index: 1;
                cursor: pointer;
            }
        }
        .b_car1{
            float: left;
            display: block;
            margin-top: 12px;
            margin-left: 5px;
            background: url(../../images/img/icon_list.png) no-repeat -184px -736px;
            width: 21px;
            height: 15px;
        }
        .h_c_car span{
            float: left;
            font-family: "宋体";
            color: #666666;
        }
        .b_car2{
            float: right;
            display: block;
            background: url(../../images/img/icon_list.png) no-repeat -270px -737px;
            height: 11px;
            margin-right: 7px;
            margin-top: 14px;
            width: 13px;
        }
        .i_car_num {
            font-style: normal;
            position: absolute;
            top: -4px;
            right: 20px;
            line-height: 16px;
            color: #fff;
            text-align: center;
            background-color: #94193f;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            font-size: 12px;
            font-family: "宋体";
        }
        
    }
    //top search over----->
    //top nav begain----->
    .header_nav{
        border-bottom: 2px solid #94193f;
        height: 39px;
        line-height: 39px;
        .nav {
            height: 39px;
            float: left;
        }
        .nav li {
            float: left;
            padding: 0 30px;
            position: relative;
            height: 39px;
            line-height: 39px;
            z-index: 5;
        }
        .nav .li_all_type {
            width: 215px;
            padding: 0;
            text-align: center;
            background-color: #94193f;
        }
        .nav li a {
            color: #303030;
            font-size: 16px;
        }
        .nav .li_all_type a, .nav .li_all_type a:link, .nav .li_all_type a:visited {
            color: #fff;
            font-size: 16px;
            float: left;
            padding-left: 55px;
            letter-spacing: 2px;
        }
        .nav li .b_down {
            background: url(../../images/img/icon_list.png) no-repeat -36px -128px;
            height: 8px;
            width: 16px;
            position: absolute;
            right: 16px;
            top: 19px;
        }
        .nav .on a{
            color: #94193f;
            font-weight: bold;
        }
        .nav .tv_hot {
            position: absolute;
            right: -3px;
            top: 0;
        }
    }
    //top nav over----->
}
#banner{
    width: 100%;
    height: 380px;
    position: relative;
    // second nav
    .second_nav{
        margin-left: -500px;
        position: absolute;
        top: 0;
        left: 50%;
        width: 215px;
        height: 380px;
        z-index: 4;
        background: url(../../images/img/index_type_bg.png);
    }
    .s_n_ul{
        width: 100%;
        padding-top: 5px;
        position: relative;
        li {
            padding-left: 55px;
            height: 35px;
            line-height: 35px;
            margin-top: 15px;
            cursor: pointer;
            a{
                color: #333;
                font-size: 14px;
            }
            .i_type {
                vertical-align: middle;
                margin-right: 5px;
                display: inline-block;
                background: url(../../images/img/type_icon.png) no-repeat 0 0;
                width: 18px;
                height: 18px;
            }
            .i_type_1097{
                background-position: -0px -421px;
            }
            .i_type_1057 {
                background-position: 0 -128px;
            }
            .i_type_1088 {
                background-position: 0 -166px;
            }
            .i_type_1082 {
                background-position: 0 -211px;
            }
            .i_type_1058 {
                background-position: 0 -253px;
            }
            .i_type_1060 {
                background-position: 0 -336px;
            }
            .i_type_1116 {
                background-position: 0 -376px;
            }
            .li_snav_list{
                position: absolute;
                left: 215px;
                width: 370px;
                background-color: #fff;
                z-index: 5;
                padding: 20px 0 10px 15px;
                top: 0px;
                min-height: 351px;
            }
            .list_nav_box{
                width: 100%;
                overflow: hidden;
            }
        }
        .list_nav_box li{
            float: left;
            padding: 0;
            margin: 0 0 10px 0;
            text-align: left;
            padding-right: 10px;
            height: 24px;
            line-height: 24px;
            white-space: nowrap;
            a{
                padding-left: 8px;
                color: #fff;
                font-size: 12px;
                background-color: #9b9093;
                display: block;
            }
            a i {
                display: inline-block;
                background-color: #837679;
                width: 19px;
                text-align: center;
                margin-left: 6px;
            }
        }
    }
    // lunbo
    .banner_box{
        width: 100%;
        overflow: hidden;
        height: 380px;
    }
    #banner_content .ban_pic{
        position: relative;
        height: 435px;
        z-index: 1;
        overflow: hidden;
        li{
            position: absolute;
            opacity: 1;
            z-index: 0;
            left: -318.5px;
        }
    }
    #banner_content .ban_btn{
        bottom: 10px;
        height: 28px;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 3;
        .btn_all{
            margin: 0 auto;
            padding: 0 20px;
            background: url(../../images/img/big_eye_bg.png) repeat;
            width: 150px;
            height: 28px;
            line-height: 28px;
            border-radius: 15px;
            padding-left: 10px;
//          width: 105px;
            .on{
                background-color: #cc2256;
            }
        }
        .btn_all span{
            cursor: pointer;
            width: 11px;
            height: 11px;
            display: inline-block;
            margin: 7.5px 5px;
            background-color: #fff;
            border-radius: 5px;
        }
    }
}

//index 样式完成