@charset "utf-8";
@import "public";
//header 颜色背景变量
$bgColor : #fff;
$wrapWidth : 1000px;
//注册页面 + 登录页面样式
#reg_log_header{
    width: 100%;
    background-color: #fff;
    .wrap1000{
        width: 1000px;
        margin: 0 auto; 
    }
    .reg_wraper{
        margin-top: 30px;
        margin-bottom: 19px;
    }
    .reg_logo{
        float: left;
        width: 74px;
        margin-right: 7px;
    }
    .reg_right{
        float: right;
        position: relative;
        margin-top: 19px;
        z-index: 3;
        img{
            border: 0 none;
            vertical-align: top;
        }
    }
}
#reg_main{
    width: 980px;
    margin: 0 auto;
    .reg_box_left{
        float: left;
        width: 600px;
        text-align: center;
        padding-top: 50px;
        img{
            width: 560px;
            height: 360px;
        }
    }
    .reg_box_right{
        float: left;
        width: 367px;
        height: 600px;
        background: url(../../images/img/login_icon_list.png) 0 -115px no-repeat;
        .rbr_box{
            padding: 0 33px;
            .reg_h2{
                padding-top: 23px;
                padding-bottom: 26px;
            }
            h2 {
                color: #c41f3a;
                font-size: 22px;
                height: 38px;
                line-height: 38px;
                font-weight: bold;
                float: left;
            }
        }
        .reg_to_login{
            float: right;
            height: 38px;
            line-height: 38px;
            text-align: right;
            font-size: 12px;
            color: #8c8c8c;
            a{
                color: #c41f3a;
                text-decoration: none;
            }
        }
    }
    .reg_mc .item {
        margin-bottom: 10px;
        position: relative;
    }
    .item .itxt{
        color: #333333;
        border: 1px solid #c8c8c8;
        height: 25px;
        line-height: 25px;
        padding-left: 6px;
        width: 293px;
        font-size: 12px;
        padding: 7px 0 7px 6px;
    }
    .reg_mobile{
        
    }
    .err_box {
        height: 23px;
        line-height: 23px;
        margin-bottom: 3px;
    }
    .err_msg2 {
        color: #8c8c8c;
    }
    .item .mobile_code,.item .random_code{
        width: 157px;
    }
    .item2 a{
        margin-left: 11px;
        color: #444444;
        font-family: "宋体";
        font-weight: bold;
        font-size: 12px;
        display: block;
        text-align: center;
        text-align: center;
        outline: 0;
        display: inline-block;
        background-color: #f6f6f6;
        border: 1px solid #c8c8c8;
        width: 117px;
        height: 38px;
        line-height: 38px;
    }
    .icon_err {
        background: url(../../images/img/login_icon_list.png) no-repeat 0 0;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
    }
    .item .agree {
        padding-top: 5px;
    }
    .register_btn  a {
        display: block;
        width: 310px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        background-color: #94193f;
        text-align: center;
        font-size: 14px;
        font-family: "宋体";
        font-weight: bold;
    }
    .reg_agree label{
        color: #767676;
        padding-left: 6px;
        span a{
            color: #c41f3a;
        }
    }
    .login_box_left{
        padding-top: 23px;
    }
    .login_r_box{
        padding: 0 25px;
        .rbr_box{
            padding: 0;
        }
        .radio_box{
            padding: 0 0 10px 0;
            text-align: left;
        }
        .s-radio {
            padding-right: 45px;
        }
        .r_txt {
            padding-left: 5px;
        }
        .form .item{
            margin-bottom: 10px;
        }
        .item3 .login-btn{
            //register_btn css
        }
        .coagent h5 {
            color: #333;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            font-family: "宋体";
        }
        .coagent ul {
            margin-top: 10px;
        }
        .coagent li {
            display: inline-block;
            margin-right: 10px;
        }
        .coagent a {
            text-indent: -999em;
            display: block;
            width: 50px;
            height: 50px;
            background: url(../../images/img/login_icon_list.png) 0 0;
        }
        .coagent .hz_xl{
            background-position: 0 -32px;
        }
        .coagent .hz_qq{
            background-position: -74px -32px;
        }
        .coagent .hz_zfb{
            background-position: -143px -32px;
        }
        .item4 span{
            float: left;
        }
        .item4 .forget-pw-safe{
            float: right;
            padding-right: 26px;
            padding-top: 1px;
        }
        .item4 a{
            color: #595959;
            font-size: 12px;
            display: block;
            text-align: right;
            outline: 0;
        }
    }
}
#reg_log_foot{
    background-color: #fff;
    margin-top: 25px;
    overflow: hidden;
    .footer_bottom{
        background-color: #fff;
        .wrap1200{
            width: 1200px;
            margin: 0 auto;
        }
        p {
            padding-top: 10px;
            text-align: center;
            font-family: "宋体";
            color: #7e7e7e;
            line-height: 25px;
        }
        .font_arial {
            font-family: Arial;
            color: #666666;
        }
        .footer_p {
            padding: 30px 0 40px 0;
        }
    }
}
