@charset "utf-8";
@import "public";
//header 颜色背景变量
$bgColor : #fff;
$warpWidth : 1000px;
//index 主页样式
#header{
    // top  login reigister begain----->
    background-color: $bgColor;
    .wrap1000{
        width: $warpWidth;
        margin: 0 auto;
    }
    .line {
        background: #dfdfdf none repeat scroll 0 0;
        height: 14px;
        overflow: hidden;
        padding: 0;
        width: 1px;
        display: inline-block;
        vertical-align: middle;
    }
    .b_down {
        background: url(../../images/img/icon_list.png) no-repeat scroll -157px -696px;
        height: 6px;
        width: 10px;
        margin-left: 5px;
        display: inline-block;
    }
    .header_top{
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        line-height: 36px;
        color: #8c8c8c;
        background-color: #fafafa;
        .left_h{
            float: left;
        }
        .right_h{
            float: right;
        }
        .log_reg{
            position: relative;
        }
    }
    //left 
    .log_reg a,.log_reg span{
        font-family: "宋体";
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
    .left_h .a_login{
        padding: 0 10px 0 20px;
    }
    .left_h .a_registetr{
        padding-left: 8px;
    }
    //right
    .right_h li{
        float: left;
        height: 36px;
        line-height: 36px;
        position: relative;
        z-index: 8;
    }
    li.a_enter{
        position: relative;
        width: 90px;
        z-index: 10;
        .b_down {
            vertical-align: top;
            margin-top: 2px;
        }
    }
    .right_h a{
        padding: 0 10px;
    }
    .right_h a,.right_h a span ,.sp_tel{
        font-family: "宋体";
        line-height: 36px;
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
    li .tel_icon{
        background: url(../../images/img/icon_list.png) no-repeat 0 -38px;
        width: 14px;
        height: 13px;
        margin: 0 4px 0 10px;
        display: inline-block;
        vertical-align: middle;
    }
    // top  login reigister over----->
    // top search begain----->
    .header-search{
        width: 100%;
        background-color: #fff;
        .header_center {
            margin-top: 30px;
            margin-bottom: 19px;
        }
        .head_center_logo {
            width: 58px;
            float: left;
            margin-right: 7px;
        }
        .head_center_logo img{
            width: 58px;
        }
        .header_center_bz {
            float: left;
            width: 438px;
            margin-right: 10px;
            padding-top: 18px;
        }
        .header_center_bz img{
            width: 438px;
        }
        .header_center_search{
            width: 360px;
            float: left;
            .h_c_input{
                width: 355px;
                margin-top: 5px;
                height: 35px;
                border: 3px solid #94193f;
                z-index: 6;
                position: relative;
            }
        }
        .txt_searchbox{
            color: rgb(102, 102, 102);
            width: 305px;
            border: none;
            float: left;
            height: 19px;
            padding: 8px 0;
            font-size: 12px;
            text-indent: 8px;
        }
        .btn_search{
            cursor: pointer;
            background-color: #94193f;
            border: medium none;
            color: #fff;
            float: left;
            height: 35px;
            width: 50px;
            font-size: 16px;
            font-family: 'Microsoft YaHei';
            line-height: 33px;
        }
        .h_c_key{
            float: left;
            margin-top: 4px;
            width: 100%;
            height: 25px;
            overflow: hidden;
            line-height: 25px;
        }
        .h_c_key li{
            float: left;
        }
        .h_c_key a{
            padding: 0 5px 0 0;
            color: #8c8c8c;
            font-family: "宋体";
        }
        .h_c_right{
            margin-top: 5px;
            float: right;
            position: relative;
            z-index: 3;
            .h_c_car{
                width: 110px;
                display: block;
                border: 1px solid #d8d8d8;
                height: 39px;
                text-align: center;
                line-height: 39px;
                background-color: #f9f9f9;
                position: relative;
                z-index: 1;
                cursor: pointer;
            }
        }
        .b_car1{
            float: left;
            display: block;
            margin-top: 12px;
            margin-left: 5px;
            background: url(../../images/img/icon_list.png) no-repeat -184px -736px;
            width: 21px;
            height: 15px;
        }
        .h_c_car span{
            float: left;
            font-family: "宋体";
            color: #666666;
        }
        .b_car2{
            float: right;
            display: block;
            background: url(../../images/img/icon_list.png) no-repeat -270px -737px;
            height: 11px;
            margin-right: 7px;
            margin-top: 14px;
            width: 13px;
        }
        .i_car_num {
            font-style: normal;
            position: absolute;
            top: -4px;
            right: 20px;
            line-height: 16px;
            color: #fff;
            text-align: center;
            background-color: #94193f;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            font-size: 12px;
            font-family: "宋体";
        }
        
    }
    //top search over----->
    //top nav begain----->
    //top nav over----->
}


