@charset "utf-8";
@import "public";
//header 颜色背景变量
$bgColor : #fff;
$wrapWidth : 1000px;
//index 主页样式
body {
    background-color: #fbfbfb;
}
#header{
    // top  login reigister begain----->
    background-color: $bgColor;
    .b_down {
        background: url(../../images/img/icon_list.png) no-repeat scroll -157px -696px;
        height: 6px;
        width: 10px;
        margin-left: 5px;
        display: inline-block;
    }
    .header_top{
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        line-height: 36px;
        color: #8c8c8c;
        background-color: #fafafa;
        a:hover {
            text-decoration: underline;
            color: #c41f3a;
        }
        .left_h{
            float: left;
        }
        .right_h{
            float: right;
        }
        .log_reg{
            position: relative;
        }
        .login_2 {
            font-family: "宋体";
        }
        .login_2 a {
            padding-right: 10px;
        }
        .reg_tips{
            color: #fff;
            position: absolute;
            top: 32px;
            left: 173px;
            width: 214px;
            height: 34px;
            z-index: 2;
            background: url(../../images/img/add_r_tips.png) no-repeat 0 0;
        }
        .reg_tips p {
            margin-top: 4px;
            height: 30px;
            line-height: 30px;
            padding-left: 15px;
            font-size: 12px;
            font-family: "宋体";
        }
        .close_r_tips {
            cursor: pointer;
            position: absolute;
            width: 10px;
            height: 15px;
            background: url(../../images/img/add_r_tips.png) -201.5px -41px;
            right: 5px;
            top: 16px;
            z-index: 3;
        }
    }
    //left 
    .left_h a,.left_h span{
        font-family: "宋体";
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
    .left_h .a_login{
        padding: 0 10px 0 20px;
    }
    .left_h .a_registetr{
        padding-left: 8px;
    }
    //right
    .right_h li{
        float: left;
        height: 36px;
        line-height: 36px;
        position: relative;
        z-index: 8;
    }
    li.a_enter{
        position: relative;
        width: 90px;
        z-index: 10;
        .b_down {
            vertical-align: top;
            margin-top: 2px;
        }
    }
    .enter_shop{
        display: block;
        position: absolute;
        top: 35px;
        left: 0px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    //二维码
    .download_code{
        position: absolute;
        top: 38px;
        left: -10px;
        z-index: 15;
        background-color: #fff;
        border-top: 1px solid #dfdfdf;
        .download_code_border{
            border: 1px solid #f6f6f6;
            box-shadow: 0 0 1px #f6f6f6;
            padding: 5px;
            margin-top: 5px;
            p {
                height: 1.2em;
                line-height: 1.2em;
                text-align: center;
                color: #3b3b3b;
            }
        }
        .icon_top {
            position: absolute;
            top: -2px;
            width: 12px;
            height: 8px;
            background: url(../../images/img/icon_list.png) no-repeat -234px -592px;
            left: 50%;
            margin-left: -6px;
        }
    }
    
    //客服
    
    .custom_service{
        border-left: 1px solid #fafafa;
        border-right: 1px solid #fafafa;
        margin-left: 5px;
    }
    .cus_border{
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background-color: #fff;
    }
    .cus_center{
        position: absolute;
        top: 35px;
        left: -1px;
        z-index: 5;
        border: 1px solid #ccc;
        border-top: none;
        width: 100%;
        background-color: #fff;
        text-align: left;
    }
    .cus_center a {
        height: 25px;
        line-height: 25px;
    }
    .right_h a{
        padding: 0 10px;
    }
    .right_h a,.right_h a span ,.sp_tel{
        font-family: "宋体";
        line-height: 36px;
        display: inline-block;
        vertical-align: middle;
        color: #8c8c8c;
    }
    li .tel_icon{
        background: url(../../images/img/icon_list.png) no-repeat 0 -38px;
        width: 14px;
        height: 13px;
        margin: 0 4px 0 10px;
        display: inline-block;
        vertical-align: middle;
    }
    // top  login reigister over----->
    // top search begain----->
    .header-search{
        width: 100%;
        background-color: #fff;
        .header_center {
            margin-top: 30px;
            margin-bottom: 19px;
        }
        .head_center_logo {
            width: 58px;
            float: left;
            margin-right: 7px;
        }
        .head_center_logo img{
            width: 58px;
        }
        .header_center_bz {
            float: left;
            width: 438px;
            margin-right: 10px;
            padding-top: 18px;
        }
        .header_center_bz img{
            width: 438px;
        }
        .header_center_search{
            width: 360px;
            float: left;
            .h_c_input{
                width: 355px;
                margin-top: 5px;
                height: 35px;
                border: 3px solid #94193f;
                z-index: 6;
                position: relative;
            }
        }
        .txt_searchbox{
            color: rgb(102, 102, 102);
            width: 305px;
            border: none;
            float: left;
            height: 19px;
            padding: 8px 0;
            font-size: 12px;
            text-indent: 8px;
        }
        .btn_search{
            cursor: pointer;
            background-color: #94193f;
            border: medium none;
            color: #fff;
            float: left;
            height: 35px;
            width: 50px;
            font-size: 16px;
            font-family: 'Microsoft YaHei';
            line-height: 33px;
        }
        .h_c_key{
            float: left;
            margin-top: 4px;
            width: 100%;
            height: 25px;
            overflow: hidden;
            line-height: 25px;
        }
        .h_c_key li{
            float: left;
        }
        .h_c_key a{
            padding: 0 5px 0 0;
            color: #8c8c8c;
            font-family: "宋体";
        }
        .h_c_key a:hover{
            color: #c41f3a;
        }
        .h_c_right{
            margin-top: 5px;
            float: right;
            position: relative;
            z-index: 3;
            .h_c_car{
                width: 110px;
                display: block;
                border: 1px solid #d8d8d8;
                height: 39px;
                text-align: center;
                line-height: 39px;
                background-color: #f9f9f9;
                position: relative;
                z-index: 1;
                cursor: pointer;
            }
        }
        .b_car1{
            float: left;
            display: block;
            margin-top: 12px;
            margin-left: 5px;
            background: url(../../images/img/icon_list.png) no-repeat -184px -736px;
            width: 21px;
            height: 15px;
        }
        .h_c_car span{
            float: left;
            font-family: "宋体";
            color: #666666;
        }
        .b_car2{
            float: right;
            display: block;
            background: url(../../images/img/icon_list.png) no-repeat -270px -737px;
            height: 11px;
            margin-right: 7px;
            margin-top: 14px;
            width: 13px;
        }
        .i_car_num {
            font-style: normal;
            position: absolute;
            top: -4px;
            right: 20px;
            line-height: 16px;
            color: #fff;
            text-align: center;
            background-color: #94193f;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            font-size: 12px;
            font-family: "宋体";
        }
        
    }
    //top search over----->
    //top nav begain----->
    .header_nav{
        border-bottom: 2px solid #94193f;
        height: 39px;
        line-height: 39px;
        .nav {
            height: 39px;
            float: left;
        }
        .nav li {
            float: left;
            padding: 0 30px;
            position: relative;
            height: 39px;
            line-height: 39px;
            z-index: 5;
        }
        .nav .li_all_type {
            width: 215px;
            padding: 0;
            text-align: center;
            background-color: #94193f;
        }
        .nav li a {
            color: #303030;
            font-size: 16px;
        }
        .nav li a:hover{
            color: #94193f;
        }
        .nav .li_all_type a, .nav .li_all_type a:link, .nav .li_all_type a:visited {
            color: #fff;
            font-size: 16px;
            float: left;
            padding-left: 55px;
            letter-spacing: 2px;
        }
        .nav li .b_down {
            background: url(../../images/img/icon_list.png) no-repeat -36px -128px;
            height: 8px;
            width: 16px;
            position: absolute;
            right: 16px;
            top: 19px;
        }
        .nav .on a{
            color: #94193f;
            font-weight: bold;
        }
        .nav .tv_hot {
            position: absolute;
            right: -3px;
            top: 0;
        }
    }
    //top nav over----->
}
#banner{
    width: 100%;
    height: 380px;
    position: relative;
    // second nav
    .second_nav{
        margin-left: -500px;
        position: absolute;
        top: 0;
        left: 50%;
        width: 215px;
        height: 380px;
        z-index: 4;
        background: url(../../images/img/index_type_bg.png);
    }
    .s_n_ul{
        width: 100%;
        padding-top: 5px;
        position: relative;
        .cur{
            background-color: #fff;
        }
        li {
            padding-left: 55px;
            height: 35px;
            line-height: 35px;
            margin-top: 15px;
            cursor: pointer;
            a{
                color: #333;
                font-size: 14px;
            }
            .i_type {
                vertical-align: middle;
                margin-right: 5px;
                display: inline-block;
                background: url(../../images/img/type_icon.png) no-repeat 0 0;
                width: 18px;
                height: 18px;
            }
            .i_type_1097{
                background-position: -0px -421px;
            }
            .i_type_1057 {
                background-position: 0 -128px;
            }
            .i_type_1088 {
                background-position: 0 -166px;
            }
            .i_type_1082 {
                background-position: 0 -211px;
            }
            .i_type_1058 {
                background-position: 0 -253px;
            }
            .i_type_1060 {
                background-position: 0 -336px;
            }
            .i_type_1116 {
                background-position: 0 -376px;
            }
            .li_snav_list{
                position: absolute;
                left: 215px;
                width: 370px;
                background-color: #fff;
                z-index: 5;
                padding: 20px 0 10px 15px;
                top: 0px;
                min-height: 351px;
            }
            .list_nav_box{
                width: 100%;
                overflow: hidden;
            }
        }
        .list_nav_box li{
            float: left;
            padding: 0;
            margin: 0 0 10px 0;
            text-align: left;
            padding-right: 10px;
            height: 24px;
            line-height: 24px;
            white-space: nowrap;
            a{
                padding-left: 8px;
                color: #fff;
                font-size: 12px;
                background-color: #9b9093;
                display: block;
            }
            a i {
                display: inline-block;
                background-color: #837679;
                width: 19px;
                text-align: center;
                margin-left: 6px;
            }
        }
    }
    // lunbo
    .banner_box{
        width: 1900px;
        overflow: hidden;
        height: 380px;
        position: relative;
        left: -318.5px;
    }
    #banner_content .ban_pic{
        position: absolute;
        height: 435px;
        z-index: 1;
        width: 9500px;
        li{
           // position: absolute;
            opacity: 1;
            z-index: 0;
            float: left;
        }
    }
    #banner_content .ban_btn{
        bottom: 10px;
        height: 28px;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 3;
        .btn_all{
            margin: 0 auto;
            padding: 0 20px;
            background: url(../../images/img/big_eye_bg.png) repeat;
            width: 150px;
            height: 28px;
            line-height: 28px;
            border-radius: 15px;
            padding-left: 10px;
            //width: 105px;
            .on{
                background-color: #cc2256;
            }
        }
        .btn_all span{
            cursor: pointer;
            width: 11px;
            height: 11px;
            display: inline-block;
            margin: 7.5px 5px;
            background-color: #fff;
            border-radius: 5px;
        }
    }
}
//main 
#main_con{
    //今日直播 昨日疯抢
    .mar40{
        margin-top: 40px;
    }
    .pro {
        width: 180px;
        height: 180px;
        display: block;
        text-align: center;
        overflow: hidden;
    }
    .pro_hot{
        background-color: #fff;
    }
    //left+right
    .hd .prev,.hd .next {
        top: 72px;
    }
    .hd .prev, .hd .next {
        position: absolute;
        top: 90px;
        width: 30px;
        height: 70px;
        background-color: #575757;
        text-align: center;
        cursor: pointer;
    }
    .hd .prev {
        left: 0;
    }
    .prev_img, .next_img {
        background: url(../../images/img/icon_list.png) repeat scroll -120px -344px;
        display: block;
        height: 31px;
        width: 14px;
        margin: 19px 0 0 8px;
    }
    .prev_img {
        background-position: -120px -344px;
    }
    .hd .next {
        right: 0;
    }
    .next_img {
        background-position: -221px -344px;
    }
    //end
    .pro_hot_title {
        height: 47px;
        border-bottom: 1px solid #cfcfcf;
        margin: 0px 23px 0 23px;
        padding-top: 8px;
        position: relative;
    }
    .pro_menu {
        height: 47px;
        line-height: 47px;
        text-align: center;
        padding-left: 10px;
        position: relative;
    }
    .pro_menu li {
        color: #333;
        cursor: pointer;
        float: left;
        font-size: 18px;
        height: 48px;
        position: relative;
        padding: 0 20px;
        z-index: 9;
        line-height: 48px;
    }
    .pro_menu .current {
        .zb_icon_down {
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 3px;
            background-color: #000;
            left: 0%;
        }
    }
    .pro_menu .pro_line {
        width: 95px;
        height: 44px;
        border: none;
        padding: 0;
        margin: 0;
    }
    .pro_line i {
        display: block;
        height: 14px;
        position: absolute;
        top: 19px;
        width: 1px;
        background-color: #8c8c8c;
        left: 47px;
    }
    .pro_menu .vedio_gg {
        width: auto;
        border: none;
        padding: 0px;
        cursor: default;
        float: left;
        padding-left: 60px;
    }
    .pro_menu .vedio_gg:before {
        position: absolute;
        content: "";
        height: 14px;
        left: 45px;
        position: absolute;
        top: 19px;
        background: #8c8c8c;
        width: 1px;
    }
    .vedio_gg a {
        border-radius: 15px;
        color: #fff;
        font-size: 18px;
        height: 27px;
        line-height: 27px;
        width: 99px;
        background: #eb2d58;
        float: left;
        display: block;
        margin-top: 11px;
        .i_tvliving {
            vertical-align: top;
            display: inline-block;
            background: url(../../images/img/icon_list.png) no-repeat -183px -488px;
            width: 18px;
            height: 24px;
        }
    }
    .img_tv_gg {
        position: absolute;
        right: 0px;
        top: 8px;
    }
    .pro_con{
        padding: 10px 28px 0 28px;
        position: relative;
    }
    .p_left {
        overflow: hidden;
        .groDiv {
            position: relative;
            width: 1160px;
            margin-left: 7px;
        }
        .groUlOut{
            width: 7068px;
            left: 0px;
            position: relative;
            overflow: hidden;
            padding: 0px;
            margin: 0px;
        }
        .groUlOut li {
            float: left;
            width: 180px;
            border: 3px solid #fff;
            margin: 4px 0px;
            position: relative;
            padding: 0;
            transition: box-shadow 0.5s ease 0s;
            -webkit-transition: box-shadow 0.5s ease 0s;
        }
        .groUlOut li img {
            display: block;
            margin: 0 auto;
            transition: all 0.6s ease 0s;
            width: 100%;
            -webkit-transition: all 0.6s ease 0s;
            -o-transition: all 0.6s ease 0s;
            -moz-transition: all 0.6s ease 0s;
        }
        .pro_list .p_num {
            color: #787878;
            padding: 0 5px;
            font-family: "宋体";
            height: 1.4em;
            line-height: 1.4em;
            overflow: hidden;
            margin-top: 10px;
        }
        .pro_list .box_glay {
            height: 2.8em;
            line-height: 1.4em;
            overflow: hidden;
            padding: 0px 5px 0px 5px;
            margin-top: 5px;
        }
        .pro_list .pro_text span {
            color: #000;
            font-size: 13px;
            font-family: "宋体";
        }
        .pro_list .now_price {
            color: #969696;
            height: 30px;
            line-height: 30px;
            padding: 10px 5px 5px 5px;
            .price_l {
                float: left;
            }
            .bigfont {
                color: #c4193f;
            }
            .bigfont span {
                font-size: 20px;
                font-family: arial;
                font-weight: normal;
            }
            .bigfont .f_14 {
                font-size: 14px;
                font-family: "Microsoft YaHei";
                margin-left: -1px;
            }
        }
    }
    //限时抢购开始
    .floor_title {
        border-bottom: 1px solid #c4193f;
        margin-top: 0px;
        width: 100%;
        .floor_h2_top{
            border: none;
            font-size: 28px;
            padding-bottom: 4px;
            color: #333333;
            float: left;
        }
        .floor_type {
            float: right;
            height: 37px;
            line-height: 37px;
            margin-top: 9px;
        }
        .floor_type li {
            float: left;
            position: relative;
            height: 37px;
        }
    }
    .floor_type li a {
        padding: 0 12px;
        display: block;
        height: 35px;
        line-height: 35px;
        margin-left: 0px;
        border-right: 2px solid #fbfbfb;
        border-left: 2px solid #fbfbfb;
        border-top: 2px solid #fbfbfb;
        font-size: 14px;
    }
    .floor_type .on a {
        color: #c4193f;
        border-left: 2px solid #c4193f;
        border-right: 2px solid #c4193f;
        border-top: 2px solid #c4193f;
        height: 35px;
        background-color: #fff;
        border-bottom: 1px solid #fff;
        padding-top: 0;
    }
    .floor_type li span {
        height: 14px;
        width: 1px;
        background-color: #ccc;
        position: absolute;
        top: 13px;
        right: 0;
    }
    
    .floor_type li.prev span {
        display: none;
    }
    .floor_type .on span {
        display: none;
    }
    .xsqg_list {
        height: 331px;
        margin-top: 20px;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .tempWrap{
        overflow: hidden;
        position: relative;
        width: 1010px;
        .xsqg_ul{
            width: 2828px;
            left: 0px;
            position: relative;
            overflow: hidden;
            padding: 0px;
            margin: 0px;
        }
    }
    .xsqg_ul li {
        float: left;
        width: 192px;
        margin-right: 15px;
        background: #fff;
        margin-right: 10px;
    }
    .sxqg_img {
        position: relative;
        display: block;
    }
    .sxqg_img img {
        width: 100%;
    }
    .xsqg_titel2 {
        color: #999999;
        font-size: 13px;
        font-family: "宋体";
        height: 20px;
        line-height: 20px;
        overflow: hidden;
    }
    .xsqg_title1 {
        font-size: 13px;
        font-family: "宋体";
        color: #333;
        font-weight: normal;
        height: 2.8em;
        line-height: 1.4em;
        overflow: hidden;
    }
    .xsqg_btn {
        border: 1px solid #c4193f;
        height: 33px;
        line-height: 33px;
    }
    .li_over .xsqg_btn {
        border: 1px solid #929292;
    }
    .xsqg_l {
        float: left;
        height: 33px;
        width: 107px;
    }
    .xsqg_p1 {
        color: #c4193f;
        padding-left: 6px;
        font-size: 16px;
    }
    .xsqg_p1 strong {
        font-size: 22px;
        font-family: arial;
    }
    .xsqg_p2 {
        font-family: arial;
        color: #969696;
        text-decoration: line-through;
    }
    .xsqg_buy {
        float: right;
        width: 119px;
        height: 33px;
        background: #c4193f;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }
    .li_over .xsqg_buy {
        background: #929292;
        width: 81px;
    }
    
    //限时抢购结束
    //精彩活动
    .ppsx_box {
        width: 100%;
        overflow: hidden;
    }
    .vedio_title {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #cfcfcf;
        margin-top: 0px;
        .v_h2 {
            position: relative;
            height: 40px;
        }
        .h2_top {
            font-size: 28px;
            padding-bottom: 4px;
            color: #333333;
            position: absolute;
            bottom: -2px;
            border-bottom: 3px solid #000;
        }
        .h2_top span {
            color: #666;
            font-size: 14px;
            font-family: arial;
            padding-left: 10px;
        }
    }
    .ppsx_ul li {
        cursor: pointer;
        position: relative;
        margin-top: 20px;
        float: left;
        margin-right: 16px;
        overflow: hidden;
        width: 490px;
        height: 196px;
    }
    .ppsx_ul .nomargin {
        margin-right: 0;
    }
    .ppsx_ul li img {
        width: 490px;
    }
    
}
//footer begin --->
#footer{
    background-color: #fff;
    margin-top: 25px;
    overflow: hidden;
    .wrap1000{
        margin: 0 auto;
        width: $wrapWidth;
    }
    .footer0 {
        border-bottom: 1px solid #d7d7d7;
        img {
            width: 1000px;
        }
    }
    .footer_help {
        padding-top: 40px;
        .foot_h_l{
            width: 760px;
            float: left;
            .help_dl{
                padding: 0 47px 0 40px;
                float: left;
            }
        }
        .help_dl h5{
            font-size: 14px;
            font-weight: normal;
            height: 31px;
            color: #666666;
        }
        .help_dl a {
            color: #666;
            font-size: 12px;
            height: 22px;
            line-height: 22px;
        }
        .foot_h_r{
            float: left;
            li {
                float: left;
                width: 100px;
                margin-right: 20px;
                text-align: center;
                h2 {
                    color: #333333;
                    font-size: 14px;
                    font-weight: 600;
                    height: 31px;
                }
                p {
                    font-size: 14px;
                    color: #666666;
                }
            }
        }
        
    }
    .footer_nav{
        border-bottom: 4px solid #a90202;
        overflow: hidden;
        margin-top: 45px;
        .w720{
            width: 720px;
            margin: 0 auto;
            text-align: center;
        }
        li {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            padding-right: 12px;
            a {
                font-size: 12px;
                font-family: "宋体";
                color: #666666;
            }
            .line {
                padding-left: 14px;
                background-color: #fff;
                border-right: 1px solid #a9a9a9;
            }
        }
    }
    .footer_bottom{
        background-color: #f3f3f3;
    }
}
//footer over --->
//right 侧边栏
.r_s_fixed {
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    background-color: #444851;
    height: 100%;
    z-index: 50;
    min-height: 600px;
    .r_s_content{
        position: relative;
        height: 100%;
        z-index: 50;
        .r_s_c_top{
            position: absolute;
            top: 50%;
            height: 360px;
            margin-top: -270px;
            right: 0;
            z-index: 20; 
        }
        .r_s_c_bot{
            position: absolute;
            bottom: 0px;
            left: 0;
        }
        .r_s_list{
            margin: 5px 0;
            cursor: pointer;
            a {
                display: block;
                padding: 5px 0;
            }
        }
    }
    .r_s_c_top {
        .r_s_list_wz{
            width: 17px;
            padding: 0 11px;
            color: #fff;
        }
        .wz_39 {
            width: 39px;
            padding: 5px 0 0 0;
            text-align: center;
        }
        .line_1,.line_2{
            display: block;
            width: 100%;
            height: 1px;
        }
        .line_1 {
            background-color: #2d2e32;
            margin-top: 15px;
        }
        .line_2 {
            background-color: #575a62;
            margin-bottom: 15px;
        }
    }
    .r_s_c_top .r_s_uc{
        position: relative;
        z-index: 30;
        .a_account{
            padding: 5px 0;
        }
        .icon_user {
            display: block;
            background: url(../../images/img/icon_list.png) -190px -413px;
            width: 30px;
            height: 23px;
            margin: 0;
        }
        .user_center{
            background-color: #fff;
            border-bottom: 1px solid #f0f0f0;
            border-left: 1px solid #f0f0f0;
            border-top: 1px solid #f0f0f0;
            position: absolute;
            right: 40px;
            top: -10px;
            width: 289px;
            z-index: 10;
            zoom: 1;
        }
        .r_s_close{
            cursor: pointer;
            height: 14px;
            position: absolute;
            right: 3px;
            top: 5px;
            width: 14px;
            background: url(../../images/img/icon_list.png) no-repeat 0 -686px;
        }
        //此处应该采用登样式
        //user
        .login_form_title{
            color: #c41f3a;
            height: 25px;
            line-height: 25px;
            margin: 0 5px;
            padding: 8px 0 9px 15px;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
        }
        .r_s_login .item {
            text-align: left;
            padding-left: 20px;
        }
        .item .itxt {
            color: #333333;
            border: 1px solid #c8c8c8;
            height: 24px;
            line-height: 24px;
            padding: 7px 0 7px 6px;
            width: 236px;
            font-size: 12px;
        }
        .item .err_box {
            height: 23px;
            line-height: 23px;
            margin-bottom: 3px;
            overflow: hidden;
            padding: 0;
            width: 100%;
        }
        .item .err_msg2 {
            color: #c4203b;
            padding: 0;
            position: relative;
            height: 23px;
            line-height: 23px;
            text-align: left;
            width: 275px;
            font-size: 12px;
        }
        .enter_uc {
            margin-left: 15px;
            margin-top: 0px;
        }
        .pwd_reg {
            overflow: hidden;
            padding: 0px 15px 0 15px;
        }
        .pwd_reg .a_fpwd {
            color: #767676;
        }
        .pwd_reg a {
            float: left;
        }
        .pwd_reg .a_reg {
            color: #94193f;
            float: right;
        }
        .uc_login_btn{
            a {
                background-color: #94193f;
                color: #fff;
                display: block;
                font-family: 宋体;
                font-size: 14px;
                font-weight: bold;
                height: 30px;
                line-height: 30px;
                width: 258px;
            }
        }
    }
    .uc_login {
            padding: 0;
            .uc_title {
                color: #838383;
                height: 99px;
                margin: 0 5px;
                padding: 55px 0 9px;
                text-align: center;
            }
            .uc_title .m_img {
                float: left;
                position: relative;
                height: 60px;
                width: 60px;
                left: 110px;
            }
            .hg_box {
                position: absolute;
                bottom: 44px;
                left: -6px;
                width: 45px;
                height: 36px;
            }
            .m_img img {
                border-radius: 50px;
                width: 100%;
                height: 100%;
            }
            .uc_user_name {
                width: 100%;
                overflow: hidden;
                color: #999999;
                padding-top: 7px;
            }
            .uc_user_name a {
                color: #999;
            }
            .uc_list {
                border-top: 1px solid #dce1e6;
                padding: 16px 0 10px 0;
                overflow: hidden;
                background-color: #fbfcfd;
            }
            .uc_list_l {
                border-right: 1px solid #ebeef1;
                float: left;
                padding: 5px 0;
                width: 50%;
            }
            .uc_list_l a {
                display: block;
                width: 100%;
                text-align: center;
            }
            .uc_list_l a b {
                display: inline-block;
                width: 25px;
                height: 33px;
                background: url(../../images/img/icon_list1.png) no-repeat 0 0;
            }
            .uc_list a span {
                color: #999999;
            }
            .uc_list_r {
                float: left;
                width: 49%;
            }
            .uc_list_r a b {
                display: inline-block;
                width: 30px;
                height: 39px;
                background: url(../../images/img/icon_list1.png) no-repeat 0 -58px;
            }
            .uc_list a span {
                color: #999999;
                display: block;
                width: 100%;
            }
            
        }
    //car
    .r_s_c_top .icon_car {
        display: block;
        background: url(../../images/img/icon_list.png) -76px 0;
        width: 40px;
        height: 25px;
        transform: scale(0.95);
        text-align: center;
    }
    .r_s_c_top .car_num {
        color: #fff;
        background: url(../../images/img/icon_list.png) -84px -65px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        margin: 14px 9px 0 9px;
    }
    .r_s_c_top .ani_num {
        color: #fff;
        background: url(../../images/img/icon_list.png) -84px -65px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        margin: 0 9px;
        position: absolute;
        top: 3px;
        left: 0;
        z-index: 3;
        opacity: 0;
    }
    .r_s_c_top .icon_collect {
        display: block;
        background: url(../../images/img/icon_list.png) -83px -188px;
        width: 22px;
        height: 21px;
        margin: 0 9px;
    }
    .pos_relative {
        position: relative;
    }
    .r_s_c_bot .ewm_img {
        display: block;
        background: url(../../images/img/icon_list.png) -170px 0;
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    .r_s_c_bot .ewm_tc {
        position: absolute;
        right: 39px;
        bottom: -40px;
        .ewm_tc_bg {
            border-radius: 5px;
            color: #000;
            height: 271px;
            padding: 10px;
            text-align: center;
            width: 173px;
        }
        .down_app_icon {
            position: absolute;
            right: -8px;
            bottom: 51px;
            height: 16px;
            width: 8px;
            z-index: 55;
            background: url(../../images/img/icon_list.png) no-repeat -3px -585px;
        }
        
    }
    .r_s_c_bot .r_s_list_online{
        margin: 20px 0;
        .online_cus {
            display: block;
            background: url(../../images/img/icon_list.png) -170px -58px;
            width: 22px;
            height: 32px;
            margin: 5px 3px 5px 8px;
        }
        .online_cus_tc {
            position: absolute;
            right: 39px;
            bottom: 0px;
            transition: all 1s linear 0s;
        }
        .cus_tc_bg {
            width: 240px;
            color: #444851;
            background-color: #fff;
            overflow: hidden;
            border: 1px solid #f2f2f2;
            padding-bottom: 15px;
        }
        .kf_title {
            width: 100%;
            height: 32px;
            line-height: 32px;
            text-align: center;
            overflow: hidden;
            cursor: default;
        }
        .kf_con_bg {
            background-color: #fbfcfd;
            width: 100%;
            overflow: hidden;
            padding: 5px 0 8px 0;
        }
        .cus_tc_bg p a {
            display: block;
            width: 120px;
            text-align: center;
            float: left;
            height: 25px;
            line-height: 25px;
            color: #444851;
        }
    }
    .r_s_c_bot .retrun_top {
        display: block;
        background: url(../../images/img/icon_list.png) -83px -252px;
        width: 19px;
        height: 19px;
        margin: 5px 10px;
    }
    .r_s_c_bot .arial_10 {
        font-size: 10px;
        font-family: Arial;
        color: #fff;
    }
}
//search begin
.search_fixed{
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    height: 52px;
    background: url(../../images/img/search_fixed_bg.png) repeat 0 0;
    z-index: 49;
    .s_fixed_l {
        float: left;
        width: 120px;
        padding-left: 18px;
        padding-top: 5px;
    }
    .s_fixed_r {
        float: left;
        padding-top: 10px;
        position: relative;
        .txt_f_sb {
            width: 650px;
            border: 1px solid #fff;
            height: 19px;
            padding: 5px 0 5px 5px;
            float: left;
            font-family: "宋体";
            font-size: 12px;
            color: #666666;
        }
        .f_btn_search {
            width: 90px;
            border: 1px solid #c41f3a;
            background-color: #c41f3a;
            width: 90px;
            height: 31px;
            line-height: 26px;
            display: block;
            float: left;
            color: #fff;
            font-size: 16px;
        }
        .search_list {
            position: absolute;
            left: 0;
            top: 41px;
            border: 1px solid #eaeaea;
            background-color: #fff;
            width: 810px;
        }
    }
}
//slider begin
.left_slider {
    margin-left: -600px;
    color: #000;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 50%;
    width: 92px;
    background-color: #fff;
    border: 1px solid #e7e6e6;
    border-radius: 5px;
    z-index: 50;
    .ul_l_s {
        padding: 10px 8px;
    }
    .ul_l_s li {
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
        height: 23px;
        line-height: 23px;
        cursor: pointer;
        padding-bottom: 10px;
        text-align: left;
    }
    .ul_l_s li a {
        display: block;
        height: 23px;
        line-height: 23px;
        color: #434343;
    }
    .ul_l_s li a:hover{
        color: #94193f;
    }
    .i_type {
        vertical-align: middle;
        margin-right: 5px;
        display: inline-block;
        background: url(../../images/img/type_icon.png) no-repeat 0 0;
        width: 18px;
        height: 18px;
    }
    .i_type_xsqg {
        background-position: 0 0;
    }
    .i_type_pljx {
        background-position: 0 -43px;
    }
    .i_type_jxhd {
        background-position: 0 -450px;
    }
}
//search end
//index 样式完成
//注册页面 + 登录页面样式
#reg_log_header{
    width: 100%;
    background-color: #fff;
    .wrap1000{
        width: 1000px;
        margin: 0 auto; 
    }
    .reg_wraper{
        margin-top: 30px;
        margin-bottom: 19px;
    }
    .reg_logo{
        float: left;
        width: 74px;
        margin-right: 7px;
    }
    .reg_right{
        float: right;
        position: relative;
        margin-top: 19px;
        z-index: 3;
        img{
            border: 0 none;
            vertical-align: top;
        }
    }
}
#reg_main{
    width: 980px;
    margin: 0 auto;
    .reg_box_left{
        float: left;
        width: 600px;
        text-align: center;
        padding-top: 50px;
        img{
            width: 560px;
            height: 360px;
        }
    }
    .reg_box_right{
        float: left;
        width: 367px;
        height: 600px;
        background: url(../../images/img/login_icon_list.png) 0 -115px no-repeat;
        .rbr_box{
            padding: 0 33px;
            .reg_h2{
                padding-top: 23px;
                padding-bottom: 26px;
            }
            h2 {
                color: #c41f3a;
                font-size: 22px;
                height: 38px;
                line-height: 38px;
                font-weight: bold;
                float: left;
            }
        }
        .reg_to_login{
            float: right;
            height: 38px;
            line-height: 38px;
            text-align: right;
            font-size: 12px;
            color: #8c8c8c;
            a{
                color: #c41f3a;
                text-decoration: none;
            }
        }
    }
    .reg_mc .item {
        margin-bottom: 10px;
        position: relative;
    }
    .item .itxt{
        color: #333333;
        border: 1px solid #c8c8c8;
        height: 25px;
        line-height: 25px;
        padding-left: 6px;
        width: 293px;
        font-size: 12px;
        padding: 7px 0 7px 6px;
    }
    .reg_mobile{
        
    }
    .err_box {
        height: 23px;
        line-height: 23px;
        margin-bottom: 3px;
    }
    .err_msg2 {
        color: #8c8c8c;
    }
    .item .mobile_code,.item .random_code{
        width: 157px;
    }
    .item5 span{
        background-color: #9B9093;
        display: block;
        font-size: 20px;
        width: 78px;
        border: 1px solid #c8c8c8;
        height: 25px;
        line-height: 25px;
        text-align: center;
        float: right;
        padding: 7px 0 7px 6px;
    }
    .item5 .pis{
        padding-left: 7px;
        background: 0 0;
        color: #999;
        cursor: pointer;
    }
    .item2 a{
        margin-left: 11px;
        color: #444444;
        font-family: "宋体";
        font-weight: bold;
        font-size: 12px;
        display: block;
        text-align: center;
        text-align: center;
        outline: 0;
        display: inline-block;
        background-color: #f6f6f6;
        border: 1px solid #c8c8c8;
        width: 117px;
        height: 38px;
        line-height: 38px;
    }
    .icon_err {
        background: url(../../images/img/login_icon_list.png) no-repeat 0 0;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
    }
    .item .agree {
        padding-top: 5px;
    }
    .register_btn  a {
        display: block;
        width: 310px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        background-color: #94193f;
        text-align: center;
        font-size: 14px;
        font-family: "宋体";
        font-weight: bold;
    }
    .reg_agree label{
        color: #767676;
        padding-left: 6px;
        span a{
            color: #c41f3a;
        }
    }
    .login_box_left{
        padding-top: 23px;
    }
    .login_r_box{
        padding: 0 25px;
        .rbr_box{
            padding: 0;
        }
        .radio_box{
            padding: 0 0 10px 0;
            text-align: left;
        }
        .s-radio {
            padding-right: 45px;
        }
        .r_txt {
            padding-left: 5px;
        }
        .form .item{
            margin-bottom: 10px;
        }
        .item3 .login-btn{
            //register_btn css
        }
        .coagent h5 {
            color: #333;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            font-family: "宋体";
        }
        .coagent ul {
            margin-top: 10px;
        }
        .coagent li {
            display: inline-block;
            margin-right: 10px;
        }
        .coagent a {
            text-indent: -999em;
            display: block;
            width: 50px;
            height: 50px;
            background: url(../../images/img/login_icon_list.png) 0 0;
        }
        .coagent .hz_xl{
            background-position: 0 -32px;
        }
        .coagent .hz_qq{
            background-position: -74px -32px;
        }
        .coagent .hz_zfb{
            background-position: -143px -32px;
        }
        .item4 span{
            float: left;
        }
        .item4 .forget-pw-safe{
            float: right;
            padding-right: 26px;
            padding-top: 1px;
        }
        .item4 a{
            color: #595959;
            font-size: 12px;
            display: block;
            text-align: right;
            outline: 0;
        }
    }
}
#reg_log_foot{
    background-color: #fff;
    margin-top: 25px;
    overflow: hidden;
    .footer_bottom{
        background-color: #fff;
        .wrap1200{
            width: 1200px;
            margin: 0 auto;
        }
        p {
            padding-top: 10px;
            text-align: center;
            font-family: "宋体";
            color: #7e7e7e;
            line-height: 25px;
        }
        .font_arial {
            font-family: Arial;
            color: #666666;
        }
        .footer_p {
            padding: 30px 0 40px 0;
        }
    }
}
//详情页 begin------->
#detail{
    //location
    .location {
        height: 57px;
        line-height: 57px;
        overflow: hidden;
        a {
            color: #333333;
            font-size: 14px;
        }
        span {
            color: #666666;
            font-size: 14px;
            padding: 0 8px;
        }
    }
    //main detail
    .d_con_top{
        .dct_left{
            float: left;
            width: 380px;
            position: relative;
            .s-img{
                width: 380px;
                height: 380px;
                border: 1px solid #ddd;
                margin-bottom: 8px;
                img{
                    width:380px;
                    height:380px;
                }
                .s-fdj{    
                    display: none;        
                    position: absolute;
                    filter: alpha(opacity=0);
                    -moz-opacity: 0.3;
                    opacity: 0.3;
                    top: 0;
                    left: 0;
                    cursor: move;
                    z-index: 15;
                    background-color: orange;
                }
            }
            .b-fdj{
                background:#fff;
                border:2px solid #333;
                width:380px;
                height:380px;
                position: absolute;
                left: 390px;
                top: 0;
                z-index: 12;
                overflow: hidden;
                display:none;
                img{
                    position:absolute;
                    width:650px;
                    height:650px;
                }
            }
            .small-pic{
                position: relative;
                padding: 0 14px;
                width: 380px;
                .pic-list{
                    width:320px;
                    position: relative;
                    img{
                        width:68px;
                        height:68px;
                        border:2px solid #666666;
                        margin-right:5px;
                    }
                    .chag-color{
                        border-color:#BF1733;
                    }
                }
            }

        }
        .dct_mid{
            float: left;
            margin-left: 30px;
            width: 420px;
            .detail_tit {
                color: #303030;
                font-size: 18px;
                font-weight: normal;
                line-height: 1.2em;
                padding-top: 10px;
                max-height: 2.4em;
                overflow: hidden;
            }
            .sp_hot {
                font-size: 18px;
                color: #303030;
            }
            .sp_hot .em_l {
                padding-right: 5px;
                font-size: 18px;
            }
            .sp_hot .em_r {
                padding-left: 5px;
                font-size: 18px;
            }
            .detail_tit_md {
                font-size: 14px;
                color: #c41f3a;
                font-weight: normal;
                margin-top: 15px;
                line-height: 1.2em;
                max-height: 2.4em;
                overflow: hidden;
            }
            .price_wrap {
                width: 100%;
                background-color: #fefafb;
                margin-top: 10px;
                border-bottom: 1px dashed #f0dde1;
                padding-bottom: 10px;
            }
            .detail_price {
                width: 420px;
            }
            .title1 {
                margin-top: 28px;
            }
            .pop_tit {
                color: #666;
                float: left;
                font-size: 14px;
                width: 55px;
                padding-left: 10px;
            }
            .price_box {
                float: left;
                width: 355px;
            }
            .price_now {
                font-family: arial;
                font-size: 42px;
                color: #c41f3a;
            }
            .em_sign {
                color: #c41f3a;
                font-family: "华文细黑",microsoft yahei;
                font-size: 18px;
                font-weight: normal;
            }
            .detail_freight {
                padding: 12px 0;
                overflow: hidden;
                border-bottom: 1px dotted #dcdcdc;
            }
            .pop_black {
                color: #333333;
                font-size: 14px;
            }
            //数量
            .detail_color {
                position: relative;
            }
            .model_wrap {
                width: 100%;
                overflow: hidden;
                padding: 10px 0 0 0;
            }
            .count_wrap {
                height: 34px;
                line-height: 34px;
                padding-bottom: 20px;
            }
            .wrap_input {
                float: left;
                position: relative;
            }
            .text {
                border-top: 1px solid #c8c8c8;
                border-bottom: 1px solid #c8c8c8;
                border-left: 0px;
                border-right: 0px;
                float: left;
                height: 32px;
                text-align: center;
                width: 60px;
                line-height: 23px;
                display: inline-block;
            }
            .btn-reduce {
                border: 1px solid #c8c8c8;
                background-color: #fff;
                float: left;
                height: 32px;
                width: 32px;
                display: inline-block;
                color: #999999;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                line-height: 30px;
            }
            .btn-add {
                border: 1px solid #c8c8c8;
                background-color: #fff;
                float: left;
                display: inline-block;
                height: 32px;
                width: 32px;
                color: #999999;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                line-height: 30px;
            }
            //按钮
            .a_buy_now {
                display: block;
                float: left;
                width: 136px;
                height: 36px;
                border: 2px solid #b51748;
                color: #fff;
                text-align: center;
                line-height: 36px;
                background-color: #b51748;
                font-size: 16px;
            }
            .a_add_car {
                margin-left: 17px;
                display: block;
                float: left;
                width: 136px;
                height: 36px;
                border: 2px solid #a82045;
                color: #b51748;
                text-align: center;
                line-height: 36px;
                font-size: 16px;
            }
            .model_in_stock p {
                width: 100%;
                overflow: hidden;
            }
            .model_wrap .detail_tips {
                font-size: 14px;
                color: #333;
                overflow: hidden;
            }
        }
        .dct_right{
            width: 200px;
            float: right;
        }
    }
}
//详情页 over ------->
//购物车
.bot_border{
    border-bottom: 2px solid #e6e6e5;
}
.top_border{
    border-top: 2px solid #e6e6e5;
}
.h_c_right {
    float: right;
    position: relative;
    z-index: 3;
    .order_Status {
        background: url(../../images/img/order_icon_list.png) no-repeat 0 0;
        height: 42px;
        margin-top: 40px;
        width: 415px;
    }
    .os_mycar {
        background-position: 0 0;
    }
    
}
.car_no_goods {
    padding: 18px 0;
    text-align: center;
    font-size: 14px;
    color: #666666;
    font-family: "宋体";
    width: 700px;
    margin: 0 auto;
    padding-top: 40px;
}
.car_no_goods img {
    float: left;
}
.no_goods {
    float: left;
}
.no_goods_t {
    padding-top: 65px;
    font-size: 18px;
    color: #000000;
}
.no_goods_buy {
    margin-left: 79px;
    margin-top: 35px;
    display: block;
    height: 49px;
    width: 190px;
    background-color: #94193f;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 49px;
}
.d_h2 {
    width: 100%;
    margin-top: 40px;
    height: 25px;
    line-height: 25px;
    ul {
        border-bottom: 2px solid #cccccc;
        width: 100%;
        height: 25px;
        li {
            float: left;
            width: 120px;
            text-align: center;
            height: 25px;
            font-size: 14px;
            position: relative;
            cursor: pointer;
        }
        .on {
            color: #93193e;
            border-bottom: 2px solid #93193e;
            font-size: 12px;
        }
    }
    
}
.detail_l_con4 {
    border: 1px solid #eeeeee;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
.noguess {
    color: #AAA;
    text-align: center;
    padding: 50px 0;
}
.shop_tit {
    margin-top: 20px;
    border: 1px solid #dadada;
    background-color: #efefef;
    font-family: "宋体";
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    width: 100%;
}
.cart_checkbox {
    float: left;
    padding-left: 12px;
    width: 430px;
    span {
        color: #000;
        display: inline-block;
        font-family: "宋体";
        font-size: 12px;
        line-height: 35px;
        padding-left: 4px;
    }
}
.cart_checkbox .shop_s_name {
    padding-left: 150px;
}
.column {
    float: left;
    font-family: 宋体;
    text-align: center;
}
.t_price {
    width: 100px;
    text-align: center;
}
.t_quantity {
    width: 100px;
    padding: 0 50px;
}
.t_sum {
    width: 150px;
}
.t_action {
    width: 95px;
}
.shop_list {
    margin-bottom: 20px;
    float: left;
    .item_list {
        float: left;
        border-left: 1px solid #fdf4f7;
        border-right: 1px solid #fdf4f7;
        .item_form {
            border-bottom: 1px solid #e5e5e5;
            float: left;
            width: 100%;
        }
    }
    .cell {
        float: left;
        padding: 25px 0;
    }
    .p_checkbox {
        padding-top: 57px;
        text-align: center;
        width: 50px;
    }
    .cb_s_goods {
        display: inline-block;
        vertical-align: middle;
    }
    .p_goods {
        width: 390px;
    }
    .p_img {
        float: left;
        width: 80px;
        position: relative;
        height: 80px;
        img{
            width: 100%;
        }
    }
    .item_msg {
        float: right;
        width: 300px;
        .p_name {
            width: 100%;
            margin-bottom: 5px;
            a {
                color: #333;
                font-size: 13px;
            }
        }
        .discount_info {
            margin-top: 5px;
        }
    }
}
.p_prices {
    width: 100px;
    text-align: center;
    .p_prices2 {
        line-height: 0.9em;
    }
}
.p_quantity {
    padding-left: 63px;
    width: 200px;
    padding-right: 50px;
    text-align: center;
    .wrap_input {
        position: relative;
    }
    .text {
        border-top: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
        border-left: 0px;
        border-right: 0px;
        float: left;
        height: 32px;
        text-align: center;
        width: 32px;
        line-height: 23px;
        display: inline-block;
    }
    .btn-reduce {
        border: 1px solid #c8c8c8;
        background-color: #fff;
        float: left;
        height: 32px;
        width: 32px;
        display: inline-block;
        color: #999999;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
    .btn-add {
        border: 1px solid #c8c8c8;
        background-color: #fff;
        float: left;
        display: inline-block;
        height: 32px;
        width: 32px;
        color: #999999;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
}
.p_sum {
    width: 150px;
    text-align: center;
}
.p_sum strong {
    color: #c41f3a;
    font-size: 16px;
    font-weight: bold;
}
.p_ops {
    width: 95px;
    text-align: center;
    .car_remove {
        display: inline-block;
        height: 20px;
        color: #666;
        font-size: 13px;
    }
}
.shop_total{
    height: 62px;
    width: 100%;
    overflow: hidden;
}
.order_sum {
    border: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 0;
    height: 60px;
}
.order_fr {
    float: right;
    display: inline;
}
.goods_num {
    float: left;
    width: 99px;
    font-size: 13px;
    color: #333;
    line-height: 60px;
}
.goods_num span {
    color: #c41f3a;
    padding: 0 4px;
    font-size: 16px;
    font-weight: bold;
}
.goods_num span em {
    font-family: Arial;
    font-size: 18px;
    color: #94193f;
}
.goods_sum {
    color: #6b6b6b;
    float: left;
    line-height: 58px;
}
.sum_price {
    color: #333;
    font-size: 13px;
    padding-right: 30px;
}
.sum_price span {
    color: #93193e;
    font-size: 18px;
    font-weight: bold;
}
.sum_price span em {
    font-size: 18px;
    color: #93193e;
    font-weight: bold;
}
.btn_buy {
    float: left;
}
.a_btn_buy {
    background-color: #c41f3a;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 110px;
}