@charset "UTF-8";
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "微软雅黑","宋体","arial","Hiragino Sans GB","Microsoft Yahei","Tahoma","Helvetica","STHeiti";
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  font-size: 12px;
}

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  background: white;
  overflow-x: hidden;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

table, th, td {
  vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

blockquote, q {
  quotes: "" "";
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

ul, ol, li {
  list-style: none;
}

button, input, select, textarea, label {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h6, h6 {
  font-weight: bold;
  font-size: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clear:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  height: 0;
}

.line {
  background: #dfdfdf none repeat scroll 0 0;
  height: 14px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}

.wrap1000 {
  width: 1000px;
  margin: 0 auto;
}

.wrap1000 {
  width: 1000px;
  margin: 0 auto;
}

#footer .footer_bottom p, #reg_log_foot .footer_bottom p {
  padding-top: 10px;
  text-align: center;
  font-family: "宋体";
  color: #7e7e7e;
  line-height: 25px;
}
#footer .footer_bottom .font_arial, #reg_log_foot .footer_bottom .font_arial {
  font-family: Arial;
  color: #666666;
}
#footer .footer_bottom .footer_p, #reg_log_foot .footer_bottom .footer_p {
  padding: 30px 0 40px 0;
}

#header {
  background-color: #fff;
}
#header .b_down {
  background: url(../../images/img/icon_list.png) no-repeat scroll -157px -696px;
  height: 6px;
  width: 10px;
  margin-left: 5px;
  display: inline-block;
}
#header .header_top {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  line-height: 36px;
  color: #8c8c8c;
  background-color: #fafafa;
}
#header .header_top .left_h {
  float: left;
}
#header .header_top .right_h {
  float: right;
}
#header .header_top .log_reg {
  position: relative;
}
#header .header_top .reg_tips {
  color: #fff;
  position: absolute;
  top: 32px;
  left: 173px;
  width: 214px;
  height: 34px;
  z-index: 2;
  background: url(../../images/img/add_r_tips.png) no-repeat 0 0;
}
#header .header_top .reg_tips p {
  margin-top: 4px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 12px;
  font-family: "宋体";
}
#header .header_top .close_r_tips {
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 15px;
  background: url(../../images/img/add_r_tips.png) -201.5px -41px;
  right: 5px;
  top: 16px;
  z-index: 3;
}
#header .log_reg a, #header .log_reg span {
  font-family: "宋体";
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
}
#header .left_h .a_login {
  padding: 0 10px 0 20px;
}
#header .left_h .a_registetr {
  padding-left: 8px;
}
#header .right_h li {
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative;
  z-index: 8;
}
#header li.a_enter {
  position: relative;
  width: 90px;
  z-index: 10;
}
#header li.a_enter .b_down {
  vertical-align: top;
  margin-top: 2px;
}
#header .enter_shop {
  display: block;
  position: absolute;
  top: 35px;
  left: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#header .download_code {
  position: absolute;
  top: 38px;
  left: -10px;
  z-index: 15;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
}
#header .download_code .download_code_border {
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 1px #f6f6f6;
  padding: 5px;
  margin-top: 5px;
}
#header .download_code .download_code_border p {
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: #3b3b3b;
}
#header .download_code .icon_top {
  position: absolute;
  top: -2px;
  width: 12px;
  height: 8px;
  background: url(../../images/img/icon_list.png) no-repeat -234px -592px;
  left: 50%;
  margin-left: -6px;
}
#header .cus_center {
  position: absolute;
  top: 35px;
  left: -1px;
  z-index: 5;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  background-color: #fff;
  text-align: left;
}
#header .cus_center a {
  height: 25px;
  line-height: 25px;
}
#header .right_h a {
  padding: 0 10px;
}
#header .right_h a, #header .right_h a span, #header .sp_tel {
  font-family: "宋体";
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
}
#header li .tel_icon {
  background: url(../../images/img/icon_list.png) no-repeat 0 -38px;
  width: 14px;
  height: 13px;
  margin: 0 4px 0 10px;
  display: inline-block;
  vertical-align: middle;
}
#header .header-search {
  width: 100%;
  background-color: #fff;
}
#header .header-search .header_center {
  margin-top: 30px;
  margin-bottom: 19px;
}
#header .header-search .head_center_logo {
  width: 58px;
  float: left;
  margin-right: 7px;
}
#header .header-search .head_center_logo img {
  width: 58px;
}
#header .header-search .header_center_bz {
  float: left;
  width: 438px;
  margin-right: 10px;
  padding-top: 18px;
}
#header .header-search .header_center_bz img {
  width: 438px;
}
#header .header-search .header_center_search {
  width: 360px;
  float: left;
}
#header .header-search .header_center_search .h_c_input {
  width: 355px;
  margin-top: 5px;
  height: 35px;
  border: 3px solid #94193f;
  z-index: 6;
  position: relative;
}
#header .header-search .txt_searchbox {
  color: #666666;
  width: 305px;
  border: none;
  float: left;
  height: 19px;
  padding: 8px 0;
  font-size: 12px;
  text-indent: 8px;
}
#header .header-search .btn_search {
  cursor: pointer;
  background-color: #94193f;
  border: medium none;
  color: #fff;
  float: left;
  height: 35px;
  width: 50px;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
  line-height: 33px;
}
#header .header-search .h_c_key {
  float: left;
  margin-top: 4px;
  width: 100%;
  height: 25px;
  overflow: hidden;
  line-height: 25px;
}
#header .header-search .h_c_key li {
  float: left;
}
#header .header-search .h_c_key a {
  padding: 0 5px 0 0;
  color: #8c8c8c;
  font-family: "宋体";
}
#header .header-search .h_c_right {
  margin-top: 5px;
  float: right;
  position: relative;
  z-index: 3;
}
#header .header-search .h_c_right .h_c_car {
  width: 110px;
  display: block;
  border: 1px solid #d8d8d8;
  height: 39px;
  text-align: center;
  line-height: 39px;
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
#header .header-search .b_car1 {
  float: left;
  display: block;
  margin-top: 12px;
  margin-left: 5px;
  background: url(../../images/img/icon_list.png) no-repeat -184px -736px;
  width: 21px;
  height: 15px;
}
#header .header-search .h_c_car span {
  float: left;
  font-family: "宋体";
  color: #666666;
}
#header .header-search .b_car2 {
  float: right;
  display: block;
  background: url(../../images/img/icon_list.png) no-repeat -270px -737px;
  height: 11px;
  margin-right: 7px;
  margin-top: 14px;
  width: 13px;
}
#header .header-search .i_car_num {
  font-style: normal;
  position: absolute;
  top: -4px;
  right: 20px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background-color: #94193f;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 12px;
  font-family: "宋体";
}
#header .header_nav {
  border-bottom: 2px solid #94193f;
  height: 39px;
  line-height: 39px;
}
#header .header_nav .nav {
  height: 39px;
  float: left;
}
#header .header_nav .nav li {
  float: left;
  padding: 0 30px;
  position: relative;
  height: 39px;
  line-height: 39px;
  z-index: 5;
}
#header .header_nav .nav .li_all_type {
  width: 215px;
  padding: 0;
  text-align: center;
  background-color: #94193f;
}
#header .header_nav .nav li a {
  color: #303030;
  font-size: 16px;
}
#header .header_nav .nav .li_all_type a, #header .header_nav .nav .li_all_type a:link, #header .header_nav .nav .li_all_type a:visited {
  color: #fff;
  font-size: 16px;
  float: left;
  padding-left: 55px;
  letter-spacing: 2px;
}
#header .header_nav .nav li .b_down {
  background: url(../../images/img/icon_list.png) no-repeat -36px -128px;
  height: 8px;
  width: 16px;
  position: absolute;
  right: 16px;
  top: 19px;
}
#header .header_nav .nav .on a {
  color: #94193f;
  font-weight: bold;
}
#header .header_nav .nav .tv_hot {
  position: absolute;
  right: -3px;
  top: 0;
}

#banner {
  width: 100%;
  height: 380px;
  position: relative;
}
#banner .second_nav {
  margin-left: -500px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 215px;
  height: 380px;
  z-index: 4;
  background: url(../../images/img/index_type_bg.png);
}
#banner .s_n_ul {
  width: 100%;
  padding-top: 5px;
  position: relative;
}
#banner .s_n_ul li {
  padding-left: 55px;
  height: 35px;
  line-height: 35px;
  margin-top: 15px;
  cursor: pointer;
}
#banner .s_n_ul li a {
  color: #333;
  font-size: 14px;
}
#banner .s_n_ul li .i_type {
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
  background: url(../../images/img/type_icon.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
}
#banner .s_n_ul li .i_type_1097 {
  background-position: -0px -421px;
}
#banner .s_n_ul li .i_type_1057 {
  background-position: 0 -128px;
}
#banner .s_n_ul li .i_type_1088 {
  background-position: 0 -166px;
}
#banner .s_n_ul li .i_type_1082 {
  background-position: 0 -211px;
}
#banner .s_n_ul li .i_type_1058 {
  background-position: 0 -253px;
}
#banner .s_n_ul li .i_type_1060 {
  background-position: 0 -336px;
}
#banner .s_n_ul li .i_type_1116 {
  background-position: 0 -376px;
}
#banner .s_n_ul li .li_snav_list {
  position: absolute;
  left: 215px;
  width: 370px;
  background-color: #fff;
  z-index: 5;
  padding: 20px 0 10px 15px;
  top: 0px;
  min-height: 351px;
}
#banner .s_n_ul li .list_nav_box {
  width: 100%;
  overflow: hidden;
}
#banner .s_n_ul .list_nav_box li {
  float: left;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: left;
  padding-right: 10px;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}
#banner .s_n_ul .list_nav_box li a {
  padding-left: 8px;
  color: #fff;
  font-size: 12px;
  background-color: #9b9093;
  display: block;
}
#banner .s_n_ul .list_nav_box li a i {
  display: inline-block;
  background-color: #837679;
  width: 19px;
  text-align: center;
  margin-left: 6px;
}
#banner .banner_box {
  width: 100%;
  overflow: hidden;
  height: 380px;
}
#banner #banner_content .ban_pic {
  position: relative;
  height: 435px;
  z-index: 1;
  overflow: hidden;
}
#banner #banner_content .ban_pic li {
  position: absolute;
  opacity: 1;
  z-index: 0;
  left: -318.5px;
}
#banner #banner_content .ban_btn {
  bottom: 10px;
  height: 28px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}
#banner #banner_content .ban_btn .btn_all {
  margin: 0 auto;
  padding: 0 20px;
  background: url(../../images/img/big_eye_bg.png) repeat;
  width: 150px;
  height: 28px;
  line-height: 28px;
  border-radius: 15px;
  padding-left: 10px;
}
#banner #banner_content .ban_btn .btn_all .on {
  background-color: #cc2256;
}
#banner #banner_content .ban_btn .btn_all span {
  cursor: pointer;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin: 7.5px 5px;
  background-color: #fff;
  border-radius: 5px;
}

#footer {
  background-color: #fff;
  margin-top: 25px;
  overflow: hidden;
}
#footer .wrap1000 {
  margin: 0 auto;
  width: 1000px;
}
#footer .footer0 {
  border-bottom: 1px solid #d7d7d7;
}
#footer .footer0 img {
  width: 1000px;
}
#footer .footer_help {
  padding-top: 40px;
}
#footer .footer_help .foot_h_l {
  width: 760px;
  float: left;
}
#footer .footer_help .foot_h_l .help_dl {
  padding: 0 47px 0 40px;
  float: left;
}
#footer .footer_help .help_dl h5 {
  font-size: 14px;
  font-weight: normal;
  height: 31px;
  color: #666666;
}
#footer .footer_help .help_dl a {
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}
#footer .footer_help .foot_h_r {
  float: left;
}
#footer .footer_help .foot_h_r li {
  float: left;
  width: 100px;
  margin-right: 20px;
  text-align: center;
}
#footer .footer_help .foot_h_r li h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
}
#footer .footer_help .foot_h_r li p {
  font-size: 14px;
  color: #666666;
}
#footer .footer_nav {
  border-bottom: 4px solid #a90202;
  overflow: hidden;
  margin-top: 45px;
}
#footer .footer_nav .w720 {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
#footer .footer_nav li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-right: 12px;
}
#footer .footer_nav li a {
  font-size: 12px;
  font-family: "宋体";
  color: #666666;
}
#footer .footer_nav li .line {
  padding-left: 14px;
  background-color: #fff;
  border-right: 1px solid #a9a9a9;
}
#footer .footer_bottom {
  background-color: #f3f3f3;
}

/*# sourceMappingURL=index.css.map */
