@charset "UTF-8";
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "微软雅黑","宋体","arial","Hiragino Sans GB","Microsoft Yahei","Tahoma","Helvetica","STHeiti";
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  font-size: 12px;
}

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  background: white;
  overflow-x: hidden;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

table, th, td {
  vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

blockquote, q {
  quotes: "" "";
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

ul, ol, li {
  list-style: none;
}

button, input, select, textarea, label {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h6, h6 {
  font-weight: bold;
  font-size: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clear:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  height: 0;
}

#reg_log_header {
  width: 100%;
  background-color: #fff;
}
#reg_log_header .wrap1000 {
  width: 1000px;
  margin: 0 auto;
}
#reg_log_header .reg_wraper {
  margin-top: 30px;
  margin-bottom: 19px;
}
#reg_log_header .reg_logo {
  float: left;
  width: 74px;
  margin-right: 7px;
}
#reg_log_header .reg_right {
  float: right;
  position: relative;
  margin-top: 19px;
  z-index: 3;
}
#reg_log_header .reg_right img {
  border: 0 none;
  vertical-align: top;
}

#reg_main {
  width: 980px;
  margin: 0 auto;
}
#reg_main .reg_box_left {
  float: left;
  width: 600px;
  text-align: center;
  padding-top: 50px;
}
#reg_main .reg_box_left img {
  width: 560px;
  height: 360px;
}
#reg_main .reg_box_right {
  float: left;
  width: 367px;
  height: 600px;
  background: url(../../images/img/login_icon_list.png) 0 -115px no-repeat;
}
#reg_main .reg_box_right .rbr_box {
  padding: 0 33px;
}
#reg_main .reg_box_right .rbr_box .reg_h2 {
  padding-top: 23px;
  padding-bottom: 26px;
}
#reg_main .reg_box_right .rbr_box h2 {
  color: #c41f3a;
  font-size: 22px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  float: left;
}
#reg_main .reg_box_right .reg_to_login {
  float: right;
  height: 38px;
  line-height: 38px;
  text-align: right;
  font-size: 12px;
  color: #8c8c8c;
}
#reg_main .reg_box_right .reg_to_login a {
  color: #c41f3a;
  text-decoration: none;
}
#reg_main .reg_mc .item {
  margin-bottom: 10px;
  position: relative;
}
#reg_main .item .itxt {
  color: #333333;
  border: 1px solid #c8c8c8;
  height: 25px;
  line-height: 25px;
  padding-left: 6px;
  width: 293px;
  font-size: 12px;
  padding: 7px 0 7px 6px;
}
#reg_main .err_box {
  height: 23px;
  line-height: 23px;
  margin-bottom: 3px;
}
#reg_main .err_msg2 {
  color: #8c8c8c;
}
#reg_main .item .mobile_code, #reg_main .item .random_code {
  width: 157px;
}
#reg_main .item2 a {
  margin-left: 11px;
  color: #444444;
  font-family: "宋体";
  font-weight: bold;
  font-size: 12px;
  display: block;
  text-align: center;
  text-align: center;
  outline: 0;
  display: inline-block;
  background-color: #f6f6f6;
  border: 1px solid #c8c8c8;
  width: 117px;
  height: 38px;
  line-height: 38px;
}
#reg_main .icon_err {
  background: url(../../images/img/login_icon_list.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
#reg_main .item .agree {
  padding-top: 5px;
}
#reg_main .register_btn a {
  display: block;
  width: 310px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  background-color: #94193f;
  text-align: center;
  font-size: 14px;
  font-family: "宋体";
  font-weight: bold;
}
#reg_main .reg_agree label {
  color: #767676;
  padding-left: 6px;
}
#reg_main .reg_agree label span a {
  color: #c41f3a;
}
#reg_main .login_box_left {
  padding-top: 23px;
}
#reg_main .login_r_box {
  padding: 0 25px;
}
#reg_main .login_r_box .rbr_box {
  padding: 0;
}
#reg_main .login_r_box .radio_box {
  padding: 0 0 10px 0;
  text-align: left;
}
#reg_main .login_r_box .s-radio {
  padding-right: 45px;
}
#reg_main .login_r_box .r_txt {
  padding-left: 5px;
}
#reg_main .login_r_box .form .item {
  margin-bottom: 10px;
}
#reg_main .login_r_box .coagent h5 {
  color: #333;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-family: "宋体";
}
#reg_main .login_r_box .coagent ul {
  margin-top: 10px;
}
#reg_main .login_r_box .coagent li {
  display: inline-block;
  margin-right: 10px;
}
#reg_main .login_r_box .coagent a {
  text-indent: -999em;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../../images/img/login_icon_list.png) 0 0;
}
#reg_main .login_r_box .coagent .hz_xl {
  background-position: 0 -32px;
}
#reg_main .login_r_box .coagent .hz_qq {
  background-position: -74px -32px;
}
#reg_main .login_r_box .coagent .hz_zfb {
  background-position: -143px -32px;
}
#reg_main .login_r_box .item4 span {
  float: left;
}
#reg_main .login_r_box .item4 .forget-pw-safe {
  float: right;
  padding-right: 26px;
  padding-top: 1px;
}
#reg_main .login_r_box .item4 a {
  color: #595959;
  font-size: 12px;
  display: block;
  text-align: right;
  outline: 0;
}

#reg_log_foot {
  background-color: #fff;
  margin-top: 25px;
  overflow: hidden;
}
#reg_log_foot .footer_bottom {
  background-color: #fff;
}
#reg_log_foot .footer_bottom .wrap1200 {
  width: 1200px;
  margin: 0 auto;
}
#reg_log_foot .footer_bottom p {
  padding-top: 10px;
  text-align: center;
  font-family: "宋体";
  color: #7e7e7e;
  line-height: 25px;
}
#reg_log_foot .footer_bottom .font_arial {
  font-family: Arial;
  color: #666666;
}
#reg_log_foot .footer_bottom .footer_p {
  padding: 30px 0 40px 0;
}

/*# sourceMappingURL=login_rigister.css.map */
