@charset "UTF-8";
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "微软雅黑","宋体","arial","Hiragino Sans GB","Microsoft Yahei","Tahoma","Helvetica","STHeiti";
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  font-size: 12px;
}

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  background: white;
  overflow-x: hidden;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}

table, th, td {
  vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

blockquote, q {
  quotes: "" "";
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

ul, ol, li {
  list-style: none;
}

button, input, select, textarea, label {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h6, h6 {
  font-weight: bold;
  font-size: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clear:after {
  clear: both;
  content: '.';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  height: 0;
}

.line {
  background: #dfdfdf none repeat scroll 0 0;
  height: 14px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  display: inline-block;
  vertical-align: middle;
}

.wrap1000 {
  width: 1000px;
  margin: 0 auto;
}

.wrap1000 {
  width: 1000px;
  margin: 0 auto;
}

.wrap1200 {
  width: 1200px;
  margin: 0 auto;
}

#footer .footer_bottom p, #reg_log_foot .footer_bottom p {
  padding-top: 10px;
  text-align: center;
  font-family: "宋体";
  color: #7e7e7e;
  line-height: 25px;
}
#footer .footer_bottom .font_arial, #reg_log_foot .footer_bottom .font_arial {
  font-family: Arial;
  color: #666666;
}
#footer .footer_bottom .footer_p, #reg_log_foot .footer_bottom .footer_p {
  padding: 30px 0 40px 0;
}

#header {
  background-color: #fff;
}
#header .b_down {
  background: url(../../images/img/icon_list.png) no-repeat scroll -157px -696px;
  height: 6px;
  width: 10px;
  margin-left: 5px;
  display: inline-block;
}
#header .header_top {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  line-height: 36px;
  color: #8c8c8c;
  background-color: #fafafa;
}
#header .header_top a:hover {
  text-decoration: underline;
  color: #c41f3a;
}
#header .header_top .left_h {
  float: left;
}
#header .header_top .right_h {
  float: right;
}
#header .header_top .log_reg {
  position: relative;
}
#header .header_top .reg_tips {
  color: #fff;
  position: absolute;
  top: 32px;
  left: 173px;
  width: 214px;
  height: 34px;
  z-index: 2;
  background: url(../../images/img/add_r_tips.png) no-repeat 0 0;
}
#header .header_top .reg_tips p {
  margin-top: 4px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 12px;
  font-family: "宋体";
}
#header .header_top .close_r_tips {
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 15px;
  background: url(../../images/img/add_r_tips.png) -201.5px -41px;
  right: 5px;
  top: 16px;
  z-index: 3;
}
#header .log_reg a, #header .log_reg span {
  font-family: "宋体";
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
}
#header .left_h .a_login {
  padding: 0 10px 0 20px;
}
#header .left_h .a_registetr {
  padding-left: 8px;
}
#header .right_h li {
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative;
  z-index: 8;
}
#header li.a_enter {
  position: relative;
  width: 90px;
  z-index: 10;
}
#header li.a_enter .b_down {
  vertical-align: top;
  margin-top: 2px;
}
#header .enter_shop {
  display: block;
  position: absolute;
  top: 35px;
  left: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#header .download_code {
  position: absolute;
  top: 38px;
  left: -10px;
  z-index: 15;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
}
#header .download_code .download_code_border {
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 1px #f6f6f6;
  padding: 5px;
  margin-top: 5px;
}
#header .download_code .download_code_border p {
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: #3b3b3b;
}
#header .download_code .icon_top {
  position: absolute;
  top: -2px;
  width: 12px;
  height: 8px;
  background: url(../../images/img/icon_list.png) no-repeat -234px -592px;
  left: 50%;
  margin-left: -6px;
}
#header .custom_service {
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  margin-left: 5px;
}
#header .cus_border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
}
#header .cus_center {
  position: absolute;
  top: 35px;
  left: -1px;
  z-index: 5;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  background-color: #fff;
  text-align: left;
}
#header .cus_center a {
  height: 25px;
  line-height: 25px;
}
#header .right_h a {
  padding: 0 10px;
}
#header .right_h a, #header .right_h a span, #header .sp_tel {
  font-family: "宋体";
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
}
#header li .tel_icon {
  background: url(../../images/img/icon_list.png) no-repeat 0 -38px;
  width: 14px;
  height: 13px;
  margin: 0 4px 0 10px;
  display: inline-block;
  vertical-align: middle;
}
#header .header-search {
  width: 100%;
  background-color: #fff;
}
#header .header-search .header_center {
  margin-top: 30px;
  margin-bottom: 19px;
}
#header .header-search .head_center_logo {
  width: 58px;
  float: left;
  margin-right: 7px;
}
#header .header-search .head_center_logo img {
  width: 58px;
}
#header .header-search .header_center_bz {
  float: left;
  width: 438px;
  margin-right: 10px;
  padding-top: 18px;
}
#header .header-search .header_center_bz img {
  width: 438px;
}
#header .header-search .header_center_search {
  width: 360px;
  float: left;
}
#header .header-search .header_center_search .h_c_input {
  width: 355px;
  margin-top: 5px;
  height: 35px;
  border: 3px solid #94193f;
  z-index: 6;
  position: relative;
}
#header .header-search .txt_searchbox {
  color: #666666;
  width: 305px;
  border: none;
  float: left;
  height: 19px;
  padding: 8px 0;
  font-size: 12px;
  text-indent: 8px;
}
#header .header-search .btn_search {
  cursor: pointer;
  background-color: #94193f;
  border: medium none;
  color: #fff;
  float: left;
  height: 35px;
  width: 50px;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
  line-height: 33px;
}
#header .header-search .h_c_key {
  float: left;
  margin-top: 4px;
  width: 100%;
  height: 25px;
  overflow: hidden;
  line-height: 25px;
}
#header .header-search .h_c_key li {
  float: left;
}
#header .header-search .h_c_key a {
  padding: 0 5px 0 0;
  color: #8c8c8c;
  font-family: "宋体";
}
#header .header-search .h_c_right {
  margin-top: 5px;
  float: right;
  position: relative;
  z-index: 3;
}
#header .header-search .h_c_right .h_c_car {
  width: 110px;
  display: block;
  border: 1px solid #d8d8d8;
  height: 39px;
  text-align: center;
  line-height: 39px;
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
#header .header-search .b_car1 {
  float: left;
  display: block;
  margin-top: 12px;
  margin-left: 5px;
  background: url(../../images/img/icon_list.png) no-repeat -184px -736px;
  width: 21px;
  height: 15px;
}
#header .header-search .h_c_car span {
  float: left;
  font-family: "宋体";
  color: #666666;
}
#header .header-search .b_car2 {
  float: right;
  display: block;
  background: url(../../images/img/icon_list.png) no-repeat -270px -737px;
  height: 11px;
  margin-right: 7px;
  margin-top: 14px;
  width: 13px;
}
#header .header-search .i_car_num {
  font-style: normal;
  position: absolute;
  top: -4px;
  right: 20px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background-color: #94193f;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 12px;
  font-family: "宋体";
}
#header .header_nav {
  border-bottom: 2px solid #94193f;
  height: 39px;
  line-height: 39px;
}
#header .header_nav .nav {
  height: 39px;
  float: left;
}
#header .header_nav .nav li {
  float: left;
  padding: 0 30px;
  position: relative;
  height: 39px;
  line-height: 39px;
  z-index: 5;
}
#header .header_nav .nav .li_all_type {
  width: 215px;
  padding: 0;
  text-align: center;
  background-color: #94193f;
}
#header .header_nav .nav li a {
  color: #303030;
  font-size: 16px;
}
#header .header_nav .nav .li_all_type a, #header .header_nav .nav .li_all_type a:link, #header .header_nav .nav .li_all_type a:visited {
  color: #fff;
  font-size: 16px;
  float: left;
  padding-left: 55px;
  letter-spacing: 2px;
}
#header .header_nav .nav li .b_down {
  background: url(../../images/img/icon_list.png) no-repeat -36px -128px;
  height: 8px;
  width: 16px;
  position: absolute;
  right: 16px;
  top: 19px;
}
#header .header_nav .nav .on a {
  color: #94193f;
  font-weight: bold;
}
#header .header_nav .nav .tv_hot {
  position: absolute;
  right: -3px;
  top: 0;
}

#banner {
  width: 100%;
  height: 380px;
  position: relative;
}
#banner .second_nav {
  margin-left: -500px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 215px;
  height: 380px;
  z-index: 4;
  background: url(../../images/img/index_type_bg.png);
}
#banner .s_n_ul {
  width: 100%;
  padding-top: 5px;
  position: relative;
}
#banner .s_n_ul li {
  padding-left: 55px;
  height: 35px;
  line-height: 35px;
  margin-top: 15px;
  cursor: pointer;
}
#banner .s_n_ul li a {
  color: #333;
  font-size: 14px;
}
#banner .s_n_ul li .i_type {
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
  background: url(../../images/img/type_icon.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
}
#banner .s_n_ul li .i_type_1097 {
  background-position: -0px -421px;
}
#banner .s_n_ul li .i_type_1057 {
  background-position: 0 -128px;
}
#banner .s_n_ul li .i_type_1088 {
  background-position: 0 -166px;
}
#banner .s_n_ul li .i_type_1082 {
  background-position: 0 -211px;
}
#banner .s_n_ul li .i_type_1058 {
  background-position: 0 -253px;
}
#banner .s_n_ul li .i_type_1060 {
  background-position: 0 -336px;
}
#banner .s_n_ul li .i_type_1116 {
  background-position: 0 -376px;
}
#banner .s_n_ul li .li_snav_list {
  position: absolute;
  left: 215px;
  width: 370px;
  background-color: #fff;
  z-index: 5;
  padding: 20px 0 10px 15px;
  top: 0px;
  min-height: 351px;
}
#banner .s_n_ul li .list_nav_box {
  width: 100%;
  overflow: hidden;
}
#banner .s_n_ul .list_nav_box li {
  float: left;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: left;
  padding-right: 10px;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}
#banner .s_n_ul .list_nav_box li a {
  padding-left: 8px;
  color: #fff;
  font-size: 12px;
  background-color: #9b9093;
  display: block;
}
#banner .s_n_ul .list_nav_box li a i {
  display: inline-block;
  background-color: #837679;
  width: 19px;
  text-align: center;
  margin-left: 6px;
}
#banner .banner_box {
  width: 100%;
  overflow: hidden;
  height: 380px;
}
#banner #banner_content .ban_pic {
  position: relative;
  height: 435px;
  z-index: 1;
  overflow: hidden;
}
#banner #banner_content .ban_pic li {
  position: absolute;
  opacity: 1;
  z-index: 0;
  left: -318.5px;
}
#banner #banner_content .ban_btn {
  bottom: 10px;
  height: 28px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}
#banner #banner_content .ban_btn .btn_all {
  margin: 0 auto;
  padding: 0 20px;
  background: url(../../images/img/big_eye_bg.png) repeat;
  width: 150px;
  height: 28px;
  line-height: 28px;
  border-radius: 15px;
  padding-left: 10px;
}
#banner #banner_content .ban_btn .btn_all .on {
  background-color: #cc2256;
}
#banner #banner_content .ban_btn .btn_all span {
  cursor: pointer;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin: 7.5px 5px;
  background-color: #fff;
  border-radius: 5px;
}

#footer {
  background-color: #fff;
  margin-top: 25px;
  overflow: hidden;
}
#footer .wrap1000 {
  margin: 0 auto;
  width: 1000px;
}
#footer .footer0 {
  border-bottom: 1px solid #d7d7d7;
}
#footer .footer0 img {
  width: 1000px;
}
#footer .footer_help {
  padding-top: 40px;
}
#footer .footer_help .foot_h_l {
  width: 760px;
  float: left;
}
#footer .footer_help .foot_h_l .help_dl {
  padding: 0 47px 0 40px;
  float: left;
}
#footer .footer_help .help_dl h5 {
  font-size: 14px;
  font-weight: normal;
  height: 31px;
  color: #666666;
}
#footer .footer_help .help_dl a {
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}
#footer .footer_help .foot_h_r {
  float: left;
}
#footer .footer_help .foot_h_r li {
  float: left;
  width: 100px;
  margin-right: 20px;
  text-align: center;
}
#footer .footer_help .foot_h_r li h2 {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  height: 31px;
}
#footer .footer_help .foot_h_r li p {
  font-size: 14px;
  color: #666666;
}
#footer .footer_nav {
  border-bottom: 4px solid #a90202;
  overflow: hidden;
  margin-top: 45px;
}
#footer .footer_nav .w720 {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
#footer .footer_nav li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding-right: 12px;
}
#footer .footer_nav li a {
  font-size: 12px;
  font-family: "宋体";
  color: #666666;
}
#footer .footer_nav li .line {
  padding-left: 14px;
  background-color: #fff;
  border-right: 1px solid #a9a9a9;
}
#footer .footer_bottom {
  background-color: #f3f3f3;
}

.r_s_fixed {
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  background-color: #444851;
  height: 100%;
  z-index: 50;
  min-height: 600px;
}
.r_s_fixed .r_s_content {
  position: relative;
  height: 100%;
  z-index: 50;
}
.r_s_fixed .r_s_content .r_s_c_top {
  position: absolute;
  top: 50%;
  height: 360px;
  margin-top: -270px;
  right: 0;
  z-index: 20;
}
.r_s_fixed .r_s_content .r_s_c_bot {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.r_s_fixed .r_s_content .r_s_list {
  margin: 5px 0;
  cursor: pointer;
}
.r_s_fixed .r_s_content .r_s_list a {
  display: block;
  padding: 5px 0;
}
.r_s_fixed .r_s_c_top .r_s_list_wz {
  width: 17px;
  padding: 0 11px;
  color: #fff;
}
.r_s_fixed .r_s_c_top .wz_39 {
  width: 39px;
  padding: 5px 0 0 0;
  text-align: center;
}
.r_s_fixed .r_s_c_top .line_1, .r_s_fixed .r_s_c_top .line_2 {
  display: block;
  width: 100%;
  height: 1px;
}
.r_s_fixed .r_s_c_top .line_1 {
  background-color: #2d2e32;
  margin-top: 15px;
}
.r_s_fixed .r_s_c_top .line_2 {
  background-color: #575a62;
  margin-bottom: 15px;
}
.r_s_fixed .r_s_c_top .r_s_uc {
  position: relative;
  z-index: 30;
}
.r_s_fixed .r_s_c_top .r_s_uc .a_account {
  padding: 5px 0;
}
.r_s_fixed .r_s_c_top .r_s_uc .icon_user {
  display: block;
  background: url(../../images/img/icon_list.png) -190px -413px;
  width: 30px;
  height: 23px;
  margin: 0;
}
.r_s_fixed .r_s_c_top .r_s_uc .user_center {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  position: absolute;
  right: 40px;
  top: -10px;
  width: 289px;
  z-index: 10;
  zoom: 1;
}
.r_s_fixed .r_s_c_top .r_s_uc .r_s_close {
  cursor: pointer;
  height: 14px;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 14px;
  background: url(../../images/img/icon_list.png) no-repeat 0 -686px;
}
.r_s_fixed .r_s_c_top .r_s_uc .login_form_title {
  color: #c41f3a;
  height: 25px;
  line-height: 25px;
  margin: 0 5px;
  padding: 8px 0 9px 15px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.r_s_fixed .r_s_c_top .r_s_uc .r_s_login .item {
  text-align: left;
  padding-left: 20px;
}
.r_s_fixed .r_s_c_top .r_s_uc .item .itxt {
  color: #333333;
  border: 1px solid #c8c8c8;
  height: 24px;
  line-height: 24px;
  padding: 7px 0 7px 6px;
  width: 236px;
  font-size: 12px;
}
.r_s_fixed .r_s_c_top .r_s_uc .item .err_box {
  height: 23px;
  line-height: 23px;
  margin-bottom: 3px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.r_s_fixed .r_s_c_top .r_s_uc .item .err_msg2 {
  color: #c4203b;
  padding: 0;
  position: relative;
  height: 23px;
  line-height: 23px;
  text-align: left;
  width: 275px;
  font-size: 12px;
}
.r_s_fixed .r_s_c_top .r_s_uc .uc_login {
  padding: 0;
}
.r_s_fixed .r_s_c_top .r_s_uc .uc_login a {
  background-color: #94193f;
  color: #fff;
  display: block;
  font-family: 宋体;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  width: 258px;
}
.r_s_fixed .r_s_c_top .r_s_uc .enter_uc {
  margin-left: 15px;
  margin-top: 0px;
}
.r_s_fixed .r_s_c_top .r_s_uc .pwd_reg {
  overflow: hidden;
  padding: 0px 15px 0 15px;
}
.r_s_fixed .r_s_c_top .r_s_uc .pwd_reg .a_fpwd {
  color: #767676;
}
.r_s_fixed .r_s_c_top .r_s_uc .pwd_reg a {
  float: left;
}
.r_s_fixed .r_s_c_top .r_s_uc .pwd_reg .a_reg {
  color: #94193f;
  float: right;
}
.r_s_fixed .r_s_c_top .icon_car {
  display: block;
  background: url(../../images/img/icon_list.png) -76px 0;
  width: 40px;
  height: 25px;
  transform: scale(0.95);
  text-align: center;
}
.r_s_fixed .r_s_c_top .car_num {
  color: #fff;
  background: url(../../images/img/icon_list.png) -84px -65px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin: 14px 9px 0 9px;
}
.r_s_fixed .r_s_c_top .ani_num {
  color: #fff;
  background: url(../../images/img/icon_list.png) -84px -65px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin: 0 9px;
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 3;
  opacity: 0;
}
.r_s_fixed .r_s_c_top .icon_collect {
  display: block;
  background: url(../../images/img/icon_list.png) -83px -188px;
  width: 22px;
  height: 21px;
  margin: 0 9px;
}
.r_s_fixed .pos_relative {
  position: relative;
}
.r_s_fixed .r_s_c_bot .ewm_img {
  display: block;
  background: url(../../images/img/icon_list.png) -170px 0;
  width: 20px;
  height: 20px;
  margin: 10px;
}
.r_s_fixed .r_s_c_bot .ewm_tc {
  position: absolute;
  right: 39px;
  bottom: -40px;
}
.r_s_fixed .r_s_c_bot .ewm_tc .ewm_tc_bg {
  border-radius: 5px;
  color: #000;
  height: 271px;
  padding: 10px;
  text-align: center;
  width: 173px;
}
.r_s_fixed .r_s_c_bot .ewm_tc .down_app_icon {
  position: absolute;
  right: -8px;
  bottom: 51px;
  height: 16px;
  width: 8px;
  z-index: 55;
  background: url(../../images/img/icon_list.png) no-repeat -3px -585px;
}
.r_s_fixed .r_s_c_bot .r_s_list_online {
  margin: 20px 0;
}
.r_s_fixed .r_s_c_bot .r_s_list_online .online_cus {
  display: block;
  background: url(../../images/img/icon_list.png) -170px -58px;
  width: 22px;
  height: 32px;
  margin: 5px 3px 5px 8px;
}
.r_s_fixed .r_s_c_bot .r_s_list_online .online_cus_tc {
  position: absolute;
  right: 39px;
  bottom: 0px;
  transition: all 1s linear 0s;
}
.r_s_fixed .r_s_c_bot .r_s_list_online .cus_tc_bg {
  width: 240px;
  color: #444851;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  padding-bottom: 15px;
}
.r_s_fixed .r_s_c_bot .r_s_list_online .kf_title {
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  overflow: hidden;
  cursor: default;
}
.r_s_fixed .r_s_c_bot .r_s_list_online .kf_con_bg {
  background-color: #fbfcfd;
  width: 100%;
  overflow: hidden;
  padding: 5px 0 8px 0;
}
.r_s_fixed .r_s_c_bot .r_s_list_online .cus_tc_bg p a {
  display: block;
  width: 120px;
  text-align: center;
  float: left;
  height: 25px;
  line-height: 25px;
  color: #444851;
}
.r_s_fixed .r_s_c_bot .retrun_top {
  display: block;
  background: url(../../images/img/icon_list.png) -83px -252px;
  width: 19px;
  height: 19px;
  margin: 5px 10px;
}
.r_s_fixed .r_s_c_bot .arial_10 {
  font-size: 10px;
  font-family: Arial;
  color: #fff;
}

.search_fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
  height: 52px;
  background: url(../../images/img/search_fixed_bg.png) repeat 0 0;
  z-index: 49;
}
.search_fixed .s_fixed_l {
  float: left;
  width: 120px;
  padding-left: 18px;
  padding-top: 5px;
}
.search_fixed .s_fixed_r {
  float: left;
  padding-top: 10px;
  position: relative;
}
.search_fixed .s_fixed_r .txt_f_sb {
  width: 650px;
  border: 1px solid #fff;
  height: 19px;
  padding: 5px 0 5px 5px;
  float: left;
  font-family: "宋体";
  font-size: 12px;
  color: #666666;
}
.search_fixed .s_fixed_r .f_btn_search {
  width: 90px;
  border: 1px solid #c41f3a;
  background-color: #c41f3a;
  width: 90px;
  height: 31px;
  line-height: 26px;
  display: block;
  float: left;
  color: #fff;
  font-size: 16px;
}
.search_fixed .s_fixed_r .search_list {
  position: absolute;
  left: 0;
  top: 41px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  width: 810px;
}

#reg_log_header {
  width: 100%;
  background-color: #fff;
}
#reg_log_header .wrap1000 {
  width: 1000px;
  margin: 0 auto;
}
#reg_log_header .reg_wraper {
  margin-top: 30px;
  margin-bottom: 19px;
}
#reg_log_header .reg_logo {
  float: left;
  width: 74px;
  margin-right: 7px;
}
#reg_log_header .reg_right {
  float: right;
  position: relative;
  margin-top: 19px;
  z-index: 3;
}
#reg_log_header .reg_right img {
  border: 0 none;
  vertical-align: top;
}

#reg_main {
  width: 980px;
  margin: 0 auto;
}
#reg_main .reg_box_left {
  float: left;
  width: 600px;
  text-align: center;
  padding-top: 50px;
}
#reg_main .reg_box_left img {
  width: 560px;
  height: 360px;
}
#reg_main .reg_box_right {
  float: left;
  width: 367px;
  height: 600px;
  background: url(../../images/img/login_icon_list.png) 0 -115px no-repeat;
}
#reg_main .reg_box_right .rbr_box {
  padding: 0 33px;
}
#reg_main .reg_box_right .rbr_box .reg_h2 {
  padding-top: 23px;
  padding-bottom: 26px;
}
#reg_main .reg_box_right .rbr_box h2 {
  color: #c41f3a;
  font-size: 22px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  float: left;
}
#reg_main .reg_box_right .reg_to_login {
  float: right;
  height: 38px;
  line-height: 38px;
  text-align: right;
  font-size: 12px;
  color: #8c8c8c;
}
#reg_main .reg_box_right .reg_to_login a {
  color: #c41f3a;
  text-decoration: none;
}
#reg_main .reg_mc .item {
  margin-bottom: 10px;
  position: relative;
}
#reg_main .item .itxt {
  color: #333333;
  border: 1px solid #c8c8c8;
  height: 25px;
  line-height: 25px;
  padding-left: 6px;
  width: 293px;
  font-size: 12px;
  padding: 7px 0 7px 6px;
}
#reg_main .err_box {
  height: 23px;
  line-height: 23px;
  margin-bottom: 3px;
}
#reg_main .err_msg2 {
  color: #8c8c8c;
}
#reg_main .item .mobile_code, #reg_main .item .random_code {
  width: 157px;
}
#reg_main .item5 span {
  background-color: #9B9093;
  display: block;
  font-size: 20px;
  width: 78px;
  border: 1px solid #c8c8c8;
  height: 25px;
  line-height: 25px;
  text-align: center;
  float: right;
  padding: 7px 0 7px 6px;
}
#reg_main .item5 .pis {
  padding-left: 7px;
  background: 0 0;
  color: #999;
  cursor: pointer;
}
#reg_main .item2 a {
  margin-left: 11px;
  color: #444444;
  font-family: "宋体";
  font-weight: bold;
  font-size: 12px;
  display: block;
  text-align: center;
  text-align: center;
  outline: 0;
  display: inline-block;
  background-color: #f6f6f6;
  border: 1px solid #c8c8c8;
  width: 117px;
  height: 38px;
  line-height: 38px;
}
#reg_main .icon_err {
  background: url(../../images/img/login_icon_list.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
#reg_main .item .agree {
  padding-top: 5px;
}
#reg_main .register_btn a {
  display: block;
  width: 310px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  background-color: #94193f;
  text-align: center;
  font-size: 14px;
  font-family: "宋体";
  font-weight: bold;
}
#reg_main .reg_agree label {
  color: #767676;
  padding-left: 6px;
}
#reg_main .reg_agree label span a {
  color: #c41f3a;
}
#reg_main .login_box_left {
  padding-top: 23px;
}
#reg_main .login_r_box {
  padding: 0 25px;
}
#reg_main .login_r_box .rbr_box {
  padding: 0;
}
#reg_main .login_r_box .radio_box {
  padding: 0 0 10px 0;
  text-align: left;
}
#reg_main .login_r_box .s-radio {
  padding-right: 45px;
}
#reg_main .login_r_box .r_txt {
  padding-left: 5px;
}
#reg_main .login_r_box .form .item {
  margin-bottom: 10px;
}
#reg_main .login_r_box .coagent h5 {
  color: #333;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-family: "宋体";
}
#reg_main .login_r_box .coagent ul {
  margin-top: 10px;
}
#reg_main .login_r_box .coagent li {
  display: inline-block;
  margin-right: 10px;
}
#reg_main .login_r_box .coagent a {
  text-indent: -999em;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../../images/img/login_icon_list.png) 0 0;
}
#reg_main .login_r_box .coagent .hz_xl {
  background-position: 0 -32px;
}
#reg_main .login_r_box .coagent .hz_qq {
  background-position: -74px -32px;
}
#reg_main .login_r_box .coagent .hz_zfb {
  background-position: -143px -32px;
}
#reg_main .login_r_box .item4 span {
  float: left;
}
#reg_main .login_r_box .item4 .forget-pw-safe {
  float: right;
  padding-right: 26px;
  padding-top: 1px;
}
#reg_main .login_r_box .item4 a {
  color: #595959;
  font-size: 12px;
  display: block;
  text-align: right;
  outline: 0;
}

#reg_log_foot {
  background-color: #fff;
  margin-top: 25px;
  overflow: hidden;
}
#reg_log_foot .footer_bottom {
  background-color: #fff;
}
#reg_log_foot .footer_bottom .wrap1200 {
  width: 1200px;
  margin: 0 auto;
}
#reg_log_foot .footer_bottom p {
  padding-top: 10px;
  text-align: center;
  font-family: "宋体";
  color: #7e7e7e;
  line-height: 25px;
}
#reg_log_foot .footer_bottom .font_arial {
  font-family: Arial;
  color: #666666;
}
#reg_log_foot .footer_bottom .footer_p {
  padding: 30px 0 40px 0;
}

#detail .location {
  height: 57px;
  line-height: 57px;
  overflow: hidden;
}
#detail .location a {
  color: #333333;
  font-size: 14px;
}
#detail .location span {
  color: #666666;
  font-size: 14px;
  padding: 0 8px;
}
#detail .d_con_top .dct_left {
  float: left;
  width: 380px;
  background-color: #333333;
}
#detail .d_con_top .dct_left .tab-w {
  width: 100%;
}
#detail .d_con_top .dct_left .dct_divw {
  height: 380px;
  width: 380px;
  border: 1px solid #e5e5e5;
}
#detail .d_con_top .dct_left .box-tab {
  height: 60px;
  margin: 17px 0 0 25px;
  position: relative;
  width: 350px;
  float: left;
}
#detail .d_con_top .dct_mid {
  float: left;
  margin-left: 30px;
  width: 420px;
}
#detail .d_con_top .dct_mid .detail_tit {
  color: #303030;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 10px;
  max-height: 2.4em;
  overflow: hidden;
}
#detail .d_con_top .dct_mid .sp_hot {
  font-size: 18px;
  color: #303030;
}
#detail .d_con_top .dct_mid .sp_hot .em_l {
  padding-right: 5px;
  font-size: 18px;
}
#detail .d_con_top .dct_mid .sp_hot .em_r {
  padding-left: 5px;
  font-size: 18px;
}
#detail .d_con_top .dct_mid .detail_tit_md {
  font-size: 14px;
  color: #c41f3a;
  font-weight: normal;
  margin-top: 15px;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
}
#detail .d_con_top .dct_mid .price_wrap {
  width: 100%;
  background-color: #fefafb;
  margin-top: 10px;
  border-bottom: 1px dashed #f0dde1;
  padding-bottom: 10px;
}
#detail .d_con_top .dct_mid .detail_price {
  width: 420px;
}
#detail .d_con_top .dct_mid .title1 {
  margin-top: 28px;
}
#detail .d_con_top .dct_mid .pop_tit {
  color: #666;
  float: left;
  font-size: 14px;
  width: 55px;
  padding-left: 10px;
}
#detail .d_con_top .dct_mid .price_box {
  float: left;
  width: 355px;
}
#detail .d_con_top .dct_mid .price_now {
  font-family: arial;
  font-size: 42px;
  color: #c41f3a;
}
#detail .d_con_top .dct_mid .em_sign {
  color: #c41f3a;
  font-family: "华文细黑",microsoft yahei;
  font-size: 18px;
  font-weight: normal;
}
#detail .d_con_top .dct_mid .detail_freight {
  padding: 12px 0;
  overflow: hidden;
  border-bottom: 1px dotted #dcdcdc;
}
#detail .d_con_top .dct_mid .pop_black {
  color: #333333;
  font-size: 14px;
}
#detail .d_con_top .dct_mid .detail_color {
  position: relative;
}
#detail .d_con_top .dct_mid .model_wrap {
  width: 100%;
  overflow: hidden;
  padding: 10px 0 0 0;
}
#detail .d_con_top .dct_mid .count_wrap {
  height: 34px;
  line-height: 34px;
  padding-bottom: 20px;
}
#detail .d_con_top .dct_mid .wrap_input {
  float: left;
  position: relative;
}
#detail .d_con_top .dct_mid .text {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-left: 0px;
  border-right: 0px;
  float: left;
  height: 32px;
  text-align: center;
  width: 60px;
  line-height: 23px;
  display: inline-block;
}
#detail .d_con_top .dct_mid .btn-reduce {
  border: 1px solid #c8c8c8;
  background-color: #fff;
  float: left;
  height: 32px;
  width: 32px;
  display: inline-block;
  color: #999999;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
#detail .d_con_top .dct_mid .btn-add {
  border: 1px solid #c8c8c8;
  background-color: #fff;
  float: left;
  display: inline-block;
  height: 32px;
  width: 32px;
  color: #999999;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
#detail .d_con_top .dct_mid .a_buy_now {
  display: block;
  float: left;
  width: 136px;
  height: 36px;
  border: 2px solid #b51748;
  color: #fff;
  text-align: center;
  line-height: 36px;
  background-color: #b51748;
  font-size: 16px;
}
#detail .d_con_top .dct_mid .a_add_car {
  margin-left: 17px;
  display: block;
  float: left;
  width: 136px;
  height: 36px;
  border: 2px solid #a82045;
  color: #b51748;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}
#detail .d_con_top .dct_mid .model_in_stock p {
  width: 100%;
  overflow: hidden;
}
#detail .d_con_top .dct_mid .model_wrap .detail_tips {
  font-size: 14px;
  color: #333;
  overflow: hidden;
}
#detail .d_con_top .dct_right {
  width: 200px;
  float: right;
}

/*# sourceMappingURL=style.css.map */
